<admintpl file="header"/>
<style>
  .red-color{
    color: #ff0000;
  }
    .controls img {
        max-width: 200px;
    }
    .form-horizontal .control-label.css-seclabel{
      text-align: left;
      width: auto;
      min-width: 100px;
      margin-right: 10px;
    }
    .form-horizontal .controls.css-sec-input{
      margin: 0;
    }
</style>
{:$this->registerCssFile('public/home/css/layer.css')}
</head>
<body>
<div class="wrap js-check-wrap">
    <ul class="nav nav-tabs">
        <li><a  href="{:U('System/sysLiveMsgList')}">公告列表</a></li>
        <li class="active"><a>创建公告</a></li>
    </ul>
    <form class="form-horizontal js-ajax-forms" id="system-live-msg-form" method="post">
        <fieldset>
            <div class="control-group">
                <label class="control-label">主播房间ID</label>
                <div class="controls">
                    <input type="text" name="live_room_id" value="{$data['live_room_id']}" id="name"/>
                    <span class="form-required red-color">*(直播间ID,支持多个直播间, 多直播间已英文半角符','分隔)</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">公告内容</label>
                <div class="controls">
                    <textarea name="content" rows="2" cols="20" id="content" class="inputtext"
                              style="height: 100px; width: 500px;">{$data['content']}</textarea>
                    <span class="form-required red-color">*</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">链接地址</label>
                <div class="controls">
                    <input type="text" name="link_url" value="{$data['link_url']}" id="link_url"/>
                    <span class="form-required">不填没有跳转链接, 填写后点击公告新页签打开</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">开始日期</label>
                <div class="controls">
                    <input type="text" name="start_at"
                           value="{$data.start_at}"
                           autocomplete="off"/>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">结束日期</label>
                <div class="controls">
                    <input type="text" name="end_at"
                           value="{$data.end_at}"
                           autocomplete="off"/>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">发送频率</label>
                <div class="controls">
                    <input type="text" name="frequency" value="{$data['frequency']}" id="frequency"/>
                    <span class="form-required"> 0~60分钟, 整数无小数点, 0为不发送</span>
                </div>
            </div>
        </fieldset>
        <div class="form-actions">
            <input type="hidden" name="id" value="{$data['id']}"/>
            <button type="button" class="btn btn-primary js-ajax-submit" id="system-live-msg-submit-button">{:L('SAVE')}
            </button>
        </div>
    </form>
</div>
{:$this->registerJsFile('public/js/common.js')}
{:$this->registerJsFile('public/home/js/layer.js')}
{:$this->registerJsFile('public/js/socket.io.js')}
{:$this->registerJsFile('public/js/content_addtop.js')}
{:$this->registerJsFile('public/js/datePicker/datePicker.js')}

<script>
    $(function () {
        $('[name="start_at"],[name="end_at"]').datePicker({
            format: "yyyy-mm-dd HH:MM:SS",
            time: true
        });
        $('#system-live-msg-submit-button').click(function () {
            var params = $('#system-live-msg-form').serializeArray();
            var values = {};
            for (var x in params) {
                values[params[x].name] = params[x].value;
            }
            $.ajax({
                url: '/index.php?g=admin&m=System&a=setSysLiveMsg',
                type: 'POST',
                dataType: 'json',
                data: values,
                success: function (data) {
                    if (parseInt(data.code) !== 200) {
                        layer.msg(data.message);
                        return;
                    }
                    layer.msg('保存成功');
                    location.href="/index.php?g=Admin&m=System&a=sysLiveMsgList";
                }, error: function (data) {
                    layer.msg('保存失败');
                }
            });
        });
    });
</script>
</body>
</html>