<admintpl file="header" />
</head>
<body>
	<div class="wrap">
		<ul class="nav nav-tabs">
			<li class="active"><a >公告列表</a></li>
			<li ><a href="{:U('System/setSysLiveMsg')}">创建公告</a></li>
		</ul>
		<div class="table-actions">
			<button class="btn btn-primary del-all">删除</button>
		</div>
		<form method="post" class="js-ajax-form" >
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th align="center"><input id="selectAll" type="checkbox" style="margin: 0;" /><label style="display: inline;" for="selectAll">全选</label></th>
						<th>直播间ID</th>
						<th>公告内容</th>
						<th>最近编辑人</th>
						<th>开始时间</th>
						<th>结束时间</th>
						<th>频率</th>
						<th>状态</th>
						<th align="center">{:L('ACTIONS')}</th>
					</tr>
				</thead>
				<tbody id="list">
					<foreach name="lists" item="vo">
					<tr>
						<neq name="vo.status" value="0">
							<td align="center"><input type="checkbox" name="ids[]" value="{$vo.id}"></td>
						<else/>
							<td></td>
						</neq>
						<td>{$vo['live_room_id']}</td>
						<td>{$vo['content']}</td>
						<td>{$vo['admin_id']}</td>
						<td>{$vo.start_at|date="Y-m-d H:i:s",###}</td>
						<neq name="vo.end_at" value="0">
							<td>{$vo.end_at|date="Y-m-d H:i:s",###}</td>
							<else/>
							<td></td>
						</neq>
						<td>{$vo.frequency}</td>
						<td class="status-name">{$vo.status_name}</td>
						<td align="center">
							<neq name="vo.status" value="0">
								<a href="{:U('System/setSysLiveMsg',array('id'=>$vo['id']))}" >编辑</a>&nbsp;|&nbsp;
								<a href="{:U('System/delSysLiveMsgSingle',array('id'=>$vo['id']))}">删除</a>&nbsp;|&nbsp;
								<a href="javascript:void(0);" class="change-status" data-id="{$vo.id}" data-code="{$vo.action_code}">{$vo.action_name}</a>
							</neq>
						</td>
					</tr>
					</foreach>
				</tbody>
			</table>
			<div class="pagination">{$page}</div>
		</form>
	</div>
	{:$this->registerCssFile('public/home/css/layer.css')}
	{:$this->registerJsFile('public/home/js/layer.js')}
	<script src="__PUBLIC__/js/common.js"></script>
	<script>

		function delAll(){
		    $('.del-all').on('click', function(){
		        var cut = 0;
		        var ids = [];
                $("#list :checkbox").each(function(){
                    if ($(this).prop("checked") == true) {
                        cut++;
                        ids.unshift($(this).val());
                    }
                });
                if(0 == cut){
                    layer.msg('请选择要删除的公告');
                    return false;
				}
                $.ajax({
                    url: '/index.php?g=Admin&m=System&a=delSysLiveMsg',
                    type: 'POST',
                    dataType: 'json',
                    data:{'ids':ids},
                    success: function (data) {
                        if (parseInt(data.code) !== 200) {
                            layer.msg(data.msg);
                            return;
                        }
                        layer.msg('删除成功');
                    }, error: function (data) {
                        layer.msg(data.msg);
                    }
                });
			});
		}

		/**
		 * 更改状态 
		 */
		function setStatus() {
			$('.change-status').on('click', function () {
			    var currentObj = $(this);
				var code = currentObj.data('code');
				var id   = currentObj.data('id');
				var status,status_code,action_name;
				if('start' == code){
				    status      = '开始';
                    status_code = 'end';
                    action_name = '结束';
				}
                if('end' == code){
                    status      = '结束';
                    status_code = 'start';
                    action_name = '开始';
                }

                $.ajax({
                    url: '/index.php?g=Admin&m=System&a=setStatus',
                    type: 'POST',
                    dataType: 'json',
                    data:{id:id, status:code},
                    success: function (data) {
                        if (parseInt(data.code) !== 200) {
                            layer.msg(data.msg);
                            return;
                        }
						currentObj.parent('td').siblings('.status-name').text(status);
                        currentObj.data('code', status_code);
                        currentObj.text(action_name);
                        layer.msg('修改成功');
                    }, error: function (data) {
                        layer.msg('修改失败');
                    }
                });
            });
        }
		
        /**
         * 检查是否被选中
         */
        function allCheck(){
            var count = $("#list :checkbox").size();
            var cut = 0;
            $("#list :checkbox").each(function(){
                if ($(this).prop("checked") == true) {
                    cut++;
                }
            });// alert(cut,count);
            if (cut == count) {
                $("#selectAll").prop("checked",true);
            }else{
                $("#selectAll").prop("checked",false);
            }
        }


        $(function(){

            delAll();

            setStatus()

            //全选
            $("#selectAll").click(function(){
                if (this.checked) {
                    $("#list :checkbox").prop("checked",true);
                }else{
                    $("#list :checkbox").prop("checked",false);
                }
            });

            //设置全选复选框
            $("#list :checkbox").click(function(){
                allCheck();
            });
        });
	</script>
</body>
</html>