<template>
  <div></div>
</template>

<script>
// 已使用 socketConnect.js mixins方式 待删
import io from "socket.io-client";
import Event from "../../utils/Event";
import { mapState, mapActions } from "vuex";
import { setNodeInfo } from "../../utils/getData";
import { imUrl } from "../../config/env";
export default {
  data() {
    return {
      socket: {}
    };
  },
  created() {},
  beforeDestroy() {},
  computed: {
    ...mapState(["user", "room", "anchor", "live"])
  },
  mounted() {},
  methods: {}
};
</script>
