<admintpl file="header" />
</head>
<body>
	<div class="wrap js-check-wrap">
		<ul class="nav nav-tabs">
			<li class="active"><a>虚拟用户</a></li>
			<li ><a href="{:U('Uservirtual/add')}">新增用户</a></li>
			<!-- <li ><a href="{:U('Uservirtual/importuser')}">批量导入</a></li> -->
		</ul>
		<form class="well form-search" method="post" action="{:U('Uservirtual/index')}">
			
			注册时间：
			<input type="text" name="start_time" class="js-date date" value="{$formget.start_time}" style="width: 80px;" autocomplete="off">-
			<input type="text" class="js-date date" name="end_time" value="{$formget.end_time}" style="width: 80px;" autocomplete="off"> &nbsp; &nbsp;
			关键字： 
			<input type="text" name="keyword" style="width: 200px;" value="{$formget.keyword}" placeholder="请输入会员id、用户名或者昵称...">
			<input type="submit" class="btn btn-primary" value="搜索">
		</form>		
		<form method="post" class="js-ajax-form" >
			
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th width="15"><label><input type="checkbox" class="js-check-all" data-direction="x" data-checklist="js-check-x"></label></th>
						<th align="center">ID</th>
						<th>用户名</th>
						<th>昵称</th>
						<th>头像</th>
						<!-- <th>{:L('EMAIL')}</th> -->
						<th>余额</th>
						<th>累计消费</th>
						<th>映票</th>
						<th>累计映票</th>
						<th>经验值</th>
						<th>注册时间</th>
						<th>状态</th>
						<th align="center">操作</th>
					</tr>
				</thead>
				<tbody>
					<php>$user_statuses=array("0"=>'禁用',"1"=>'正常',"2"=>'未验证');</php>
					<foreach name="lists" item="vo">
					<tr>
						<td><input type="checkbox" class="js-check" data-yid="js-check-y" data-xid="js-check-x" name="ids[]" value="{$vo.id}" title="ID:{$vo.id}"></td>
						<td align="center">{$vo.id}</td>
						<td>{$vo['user_login']?$vo['user_login']:L('THIRD_PARTY_USER')}</td>
						<td>{$vo['user_nicename']?$vo['user_nicename']:L('NOT_FILLED')}</td>
						<td><img width="25" height="25" src="{$vo['avatar']}" /></td>
						<!-- <td>{$vo.user_email}</td> -->
						<td>{$vo.coin}</td>
						<td>{$vo.consumption}</td>
						<td>{$vo.votes}</td>
						<td>{$vo.votestotal}</td>
						<td>{$vo.consumption}</td>
						<td>{$vo.create_time}</td>
						<td>{$user_statuses[$vo['user_status']]}</td>
						<td align="center">
								<a href="{:U('Uservirtual/setfans',array('id'=>$vo['id'],'user_nicename'=>$vo['user_nicename']))}">设置僵尸粉</a> |	
								<a href="{:U('Uservirtual/edit',array('id'=>$vo['id']))}">编辑</a> | 
								<a href="{:U('Uservirtual/del',array('id'=>$vo['id']))}" class="js-ajax-dialog-btn" data-msg="您确定要删除此用户吗？">删除</a>
						</td>
					</tr>
					</foreach>
				</tbody>
			</table>
			<div class="pagination">{$page}</div>
		</form>
	</div>
 <script src="__PUBLIC__/js/common.js"></script>
</body>
</html>