<admintpl file="header" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/layer.css">
<style type="text/css">

	.nav-tabs>.current>a{
	    color: #95a5a6;
	    cursor: default;
	    background-color: #fff;
	    border: 1px solid #ddd;
	    border-bottom-color: transparent;
	}
	.nav li
	{
		cursor:pointer
	}
	.nav li:hover
	{
		cursor:pointer
	}


	.greenWoring{
		color: green;
		font-weight: bold;
	}
	.redWoring{
		color: red;
		font-weight: bold;
	}

	.statistics{
		min-width: 800px;
		width: auto;
		min-height: 300px;
		background: #F2F2F2;
		box-shadow: 2px 4px 1px #CCC;
		padding: 15px;
		height: auto;
	}

	.todayMsg{
		
		background: #F2F2F2;
		
	}

	.yestodayMsg{
		
		background: #E0FAFF;
	
	}

	.thisWeekMsg{
	
		background: #FFFAE0;

	}

	.lastWeekMsg{
		background: #E0FFED;
	}

	.thisMonthkMsg{
		background: #E0F5FF;
	}

	.lastMonthMsg{
		background: #FFEDE0;
	}

	.msgLists{
		height: 40px;
		line-height: 40px;
	}

	.userlists{
		width: 92%;
		height: 240px;
		overflow: auto;
	}
	.userlists li{
		width: 96%;
		padding-left: 0;
		height: 30px;
		line-height: 30px;
		color: #000;
		list-style: none;
	}
	#chart1{
		min-width: 2400px;
	}
	#chart2,#chart3{
		margin-top: 30px;
		min-width: 2400px;
	}

	.FifteenPercent li{
		list-style: none;
		float: left;
		width: 180px;
		height: 70px;
		margin-top: 10px;
		box-shadow: 1px 2px 1px #CCC;
		padding-top: 10px;
		padding-left:20px;
		margin-right: 10px;
	}
</style>


<script type="text/javascript" src="__PUBLIC__/home/js/tongji/jqplot.js"></script>


</head>
<body>
	<div class="wrap">
		<ul class="nav nav-tabs js-tabs-nav">
			<li><a>今日在线统计</a></li>
			<li><a>今日统计</a></li>
			<li><a>昨日统计</a></li>
			<li><a>本周统计</a></li>
			<li><a>上周统计</a></li>
			<li><a>本月统计</a></li>
			<li><a>上月统计</a></li>
			<li><a>15日留存</a></li>
			<li><a>老用户流失</a></li>
		</ul>
		
		<div class="js-tabs-content">

			<!-- 今日在线统计 -->
			<div>
				<if condition="$todayListsMax gt 0"><div>截至目前，今日最高在线：{$todayListsMax}，时间：{$todayListsMaxDate|date="Y-m-d H:i:s",###}</div></if>
				<if condition="$lists1"><div id="chart1"></div></if>

				<if condition="$lists2"><div id="chart2"></div></if>
				
				<if condition="$lists3"><div id="chart3"></div></if>

			</div>
			
			<!-- 今日统计 -->
			<div>
				
				<div class="todayMsg statistics">
					<div class="msgLists">今日在线：{$todayLoginCount}人</div>
					<div class="msgLists">今日注册：{$todayRegCount}人</div>
					<div class="msgLists">今日微信注册：{$todayWxRegCount}人</div>
					<div class="msgLists">今日QQ注册：{$todayQQRegCount}人</div>
					<div class="msgLists">今日手机注册：{$todayPhoneRegCount}人</div>
					<volist name="channels" id="vo">
						<div class="msgLists">{$vo['title']}注册数量 : {$vo['todayChannelRegNum']} 人
							 &nbsp;&nbsp;|&nbsp;&nbsp;{$vo['title']}付费钻石 : {$vo['todayChannelConsumption'][0]['totalcoin']}
							 &nbsp;&nbsp;|&nbsp;&nbsp;{$vo['title']}付费直播券 : {$vo['todayChannelConsumption'][0]['total_livecoin']}
							 &nbsp;&nbsp;|&nbsp;&nbsp;{$vo['title']}付费人数 : {$vo['todayChannelConsumption'][0]['totalcount']}
							 <if condition="$vo['todayChannelConsumption'][0]['totalcount'] gt 0"><input type="button" value="用户列表" data-value="{$vo['id']}" onclick="showUserLists({$vo['id']},1)"></if>
						 </div>
					</volist>
					
				</div>
			</div>
			
			<!-- 昨日统计 -->
			<div>
				
				<div class="yestodayMsg statistics">
					<div class="msgLists">昨日在线：{$yestodayLoginCount}人</div>
					<div class="msgLists">昨日注册：{$yestodayRegCount}人</div>
					<div class="msgLists">昨日微信注册：{$yestodayWxRegCount}人</div>
					<div class="msgLists">昨日QQ注册：{$yestodayQQRegCount}人</div>
					<div class="msgLists">昨日手机注册：{$yestodayPhoneRegCount}人</div>
					<volist name="channels" id="vo">
						<div class="msgLists">{$vo['title']}注册数量 : {$vo['yestodayChannelRegNum']} 人
							 &nbsp;&nbsp;|&nbsp;&nbsp;{$vo['title']}付费钻石 : {$vo['yestodayChannelConsumption'][0]['totalcoin']}
							 &nbsp;&nbsp;|&nbsp;&nbsp;{$vo['title']}付费直播券 : {$vo['yestodayChannelConsumption'][0]['total_livecoin']}
							 &nbsp;&nbsp;|&nbsp;&nbsp;{$vo['title']}付费人数 : {$vo['yestodayChannelConsumption'][0]['totalcount']}
							 <if condition="$vo['yestodayChannelConsumption'][0]['totalcount'] gt 0"><input type="button" value="用户列表" data-value="{$vo['id']}" onclick="showUserLists({$vo['id']},2)"></if>
						</div>
					</volist>
				</div>
			</div>
			
			<!-- 本周统计 -->
			<div>
				<div class="thisWeekMsg statistics">
					<div class="msgLists">本周在线：{$thisWeekLoginCount}人</div>
					<div class="msgLists">本周注册：{$thisWeekRegCount}人</div>
					<div class="msgLists">本周微信注册：{$thisWeekWxRegCount}人</div>
					<div class="msgLists">本周QQ注册：{$thisWeekQQRegCount}人</div>
					<div class="msgLists">本周手机注册：{$thisWeekPhoneRegCount}人</div>
					<volist name="channels" id="vo">
						<div class="msgLists">{$vo['title']}注册数量 : {$vo['thisWeekChannelRegNum']} 人
							&nbsp;&nbsp;|&nbsp;&nbsp;{$vo['title']}付费钻石 : {$vo['thisWeekChannelConsumption'][0]['totalcoin']}
							&nbsp;&nbsp;|&nbsp;&nbsp;{$vo['title']}付费直播券 : {$vo['thisWeekChannelConsumption'][0]['total_livecoin']}
							&nbsp;&nbsp;|&nbsp;&nbsp;{$vo['title']}付费人数 : {$vo['thisWeekChannelConsumption'][0]['totalcount']}
							<if condition="$vo['thisWeekChannelConsumption'][0]['totalcount'] gt 0"><input type="button" value="用户列表" data-value="{$vo['id']}" onclick="showUserLists({$vo['id']},3)"></if>

						</div>
					</volist>
				</div>
			</div>
			
			<!-- 上周统计 -->
			<div>
				<div class="lastWeekMsg statistics">
					<div class="msgLists">上周在线：{$lastWeekLoginCount}人</div>
					<div class="msgLists">上周注册：{$lastWeekRegCount}人</div>
					<div class="msgLists">上周微信注册：{$lastWeekWxRegCount}人</div>
					<div class="msgLists">上周QQ注册：{$lastWeekQQRegCount}人</div>
					<div class="msgLists">上周手机注册：{$lastWeekPhoneRegCount}人</div>
					<volist name="channels" id="vo">
						<div class="msgLists">{$vo['title']}注册数量 : {$vo['lastWeekChannelRegNum']} 人
							&nbsp;&nbsp;|&nbsp;&nbsp;{$vo['title']}付费钻石 : {$vo['lastWeekChannelConsumption'][0]['totalcoin']}
							&nbsp;&nbsp;|&nbsp;&nbsp;{$vo['title']}付费直播券 : {$vo['lastWeekChannelConsumption'][0]['total_livecoin']}
							&nbsp;&nbsp;|&nbsp;&nbsp;{$vo['title']}付费人数 : {$vo['lastWeekChannelConsumption'][0]['totalcount']}
							<if condition="$vo['lastWeekChannelConsumption'][0]['totalcount'] gt 0"><input type="button" value="用户列表" data-value="{$vo['id']}" onclick="showUserLists({$vo['id']},4)"></if>


						</div>
					</volist>
				</div>
			</div>

			<!-- 本月统计 -->
			<div>
				<div class="thisMonthkMsg statistics">
					<div class="msgLists">本月在线：{$thisMonthLoginCount}人</div>
					<div class="msgLists">本月注册：{$thisMonthRegCount}人</div>
					<div class="msgLists">本月微信注册：{$thisMonthWxRegCount}人</div>
					<div class="msgLists">本月QQ注册：{$thisMonthQQRegCount}人</div>
					<div class="msgLists">本月手机注册：{$thisMonthPhoneRegCount}人</div>

					<volist name="channels" id="vo">
						<div class="msgLists">{$vo['title']}注册数量 : {$vo['thisMonthChannelRegNum']} 人
							&nbsp;&nbsp;|&nbsp;&nbsp;{$vo['title']}付费钻石 : {$vo['thisMonthChannelConsumption'][0]['totalcoin']}
							&nbsp;&nbsp;|&nbsp;&nbsp;{$vo['title']}付费直播券 : {$vo['thisMonthChannelConsumption'][0]['total_livecoin']}
							&nbsp;&nbsp;|&nbsp;&nbsp;{$vo['title']}付费人数 : {$vo['thisMonthChannelConsumption'][0]['totalcount']}
							<if condition="$vo['thisMonthChannelConsumption'][0]['totalcount'] gt 0"><input type="button" value="用户列表" data-value="{$vo['id']}" onclick="showUserLists({$vo['id']},5)"></if>

						</div>
					</volist>
				</div>
			</div>

			<!-- 上月统计 -->
			<div>
				<div class="lastMonthMsg statistics">
					<div class="msgLists">上月在线：{$lastMonthLoginCount}人</div>
					<div class="msgLists">上月注册：{$lastMonthRegCount}人</div>
					<div class="msgLists">上月微信注册：{$lastMonthWxRegCount}人</div>
					<div class="msgLists">上月QQ注册：{$lastMonthQQRegCount}人</div>
					<div class="msgLists">上月手机注册：{$lastMonthPhoneRegCount}人</div>

					<volist name="channels" id="vo">
						<div class="msgLists">{$vo['title']}注册数量 : {$vo['lastMonthChannelRegNum']} 人

							&nbsp;&nbsp;|&nbsp;&nbsp;{$vo['title']}付费钻石 : {$vo['lastMonthChannelConsumption'][0]['totalcoin']}
							&nbsp;&nbsp;|&nbsp;&nbsp;{$vo['title']}付费直播券 : {$vo['lastMonthChannelConsumption'][0]['total_livecoin']}
							&nbsp;&nbsp;|&nbsp;&nbsp;{$vo['title']}付费人数 : {$vo['lastMonthChannelConsumption'][0]['totalcount']}
							<if condition="$vo['lastMonthChannelConsumption'][0]['totalcount'] gt 0"><input type="button" value="用户列表" data-value="{$vo['id']}" onclick="showUserLists({$vo['id']},6)"></if>

						</div>
					</volist>

				</div>
			</div>
			<!-- 15日留存 -->
			<div>
				<div class="todayMsg statistics">
					<div>{$qianFifteenDate|date="Y-m-d",###}的用户注册人数为：{$RegNum}</div>
					<ul class="FifteenPercent">
						
						<!-- 前十五天 -->
						<li>
							<if condition="$RegNum eq 0">
								<p>{$qianFifteenDate|date="Y-m-d",###}留存比例：0%</p>
								<p>{$qianFifteenDate|date="Y-m-d",###}流失比例：0%</p>
							<else />
								<p>{$qianFifteenDate|date="Y-m-d",###}留存比例：{$FifteenLiuPercent}%</p>
								<p>{$qianFifteenDate|date="Y-m-d",###}流失比例：{$FifteenDiuPercent}%</p>
							</if>
							
						</li>
						<!-- 前十四天 -->
						<li>
							<if condition="$RegNum eq 0">
								<p>{$qianFourteenDate|date="Y-m-d",###}留存比例：0%</p>
								<p>{$qianFourteenDate|date="Y-m-d",###}流失比例：0%</p>
							<else />
								<p>{$qianFourteenDate|date="Y-m-d",###}留存比例：{$FourteenLiuPercent}%</p>
								<p>{$qianFourteenDate|date="Y-m-d",###}流失比例：{$FourteenDiuPercent}%</p>
							</if>
							
						</li>
						<!-- 前十三天 -->
						<li>
							<if condition="$RegNum eq 0">
								<p>{$qianThirteenDate|date="Y-m-d",###}留存比例：0%</p>
								<p>{$qianThirteenDate|date="Y-m-d",###}流失比例：0%</p>
							<else />
								<p>{$qianThirteenDate|date="Y-m-d",###}留存比例：{$ThirteenLiuPercent}%</p>
								<p>{$qianThirteenDate|date="Y-m-d",###}流失比例：{$ThirteenDiuPercent}%</p>
							</if>
							
						</li>

						<!-- 前十二天 -->
						<li>
							<if condition="$RegNum eq 0">
								<p>{$qianTwelveDate|date="Y-m-d",###}留存比例：0%</p>
								<p>{$qianTwelveDate|date="Y-m-d",###}流失比例：0%</p>
							<else />
								<p>{$qianTwelveDate|date="Y-m-d",###}留存比例：{$TwelveenLiuPercent}%</p>
								<p>{$qianTwelveDate|date="Y-m-d",###}流失比例：{$TwelveenDiuPercent}%</p>
							</if>
							
						</li>

						

						<!-- 前十一天 -->
						<li>
							<if condition="$RegNum eq 0">
								<p>{$qianElevenDate|date="Y-m-d",###}留存比例：0%</p>
								<p>{$qianElevenDate|date="Y-m-d",###}流失比例：0%</p>
							<else />
								<p>{$qianElevenDate|date="Y-m-d",###}留存比例：{$ElevenLiuPercent}%</p>
								<p>{$qianElevenDate|date="Y-m-d",###}流失比例：{$ElevenDiuPercent}%</p>
							</if>
							
						</li>

						<!-- 前十天 -->
						<li>
							<if condition="$RegNum eq 0">
								<p>{$qianTenDate|date="Y-m-d",###}留存比例：0%</p>
								<p>{$qianTenDate|date="Y-m-d",###}流失比例：0%</p>
							<else />
								<p>{$qianTenDate|date="Y-m-d",###}留存比例：{$TenLiuPercent}%</p>
								<p>{$qianTenDate|date="Y-m-d",###}流失比例：{$TenDiuPercent}%</p>
							</if>
							
						</li>

						<!-- 前九天 -->
						<li>
							<if condition="$RegNum eq 0">
								<p>{$qianNineDate|date="Y-m-d",###}留存比例：0%</p>
								<p>{$qianNineDate|date="Y-m-d",###}流失比例：0%</p>
							<else />
								<p>{$qianNineDate|date="Y-m-d",###}留存比例：{$NineLiuPercent}%</p>
								<p>{$qianNineDate|date="Y-m-d",###}流失比例：{$NineDiuPercent}%</p>
							</if>
							
						</li>

						<!-- 前八天 -->
						<li>
							<if condition="$RegNum eq 0">
								<p>{$qianEightDate|date="Y-m-d",###}留存比例：0%</p>
								<p>{$qianEightDate|date="Y-m-d",###}流失比例：0%</p>
							<else />
								<p>{$qianEightDate|date="Y-m-d",###}留存比例：{$EightLiuPercent}%</p>
								<p>{$qianEightDate|date="Y-m-d",###}流失比例：{$EightDiuPercent}%</p>
							</if>
							
						</li>


						<!-- 前七天 -->
						<li>
							<if condition="$RegNum eq 0">
								<p>{$qianSevenDate|date="Y-m-d",###}留存比例：0%</p>
								<p>{$qianSevenDate|date="Y-m-d",###}流失比例：0%</p>
							<else />
								<p>{$qianSevenDate|date="Y-m-d",###}留存比例：{$SevenLiuPercent}%</p>
								<p>{$qianSevenDate|date="Y-m-d",###}流失比例：{$SevenDiuPercent}%</p>
							</if>
							
						</li>

						<!-- 前六天 -->
						<li>
							<if condition="$RegNum eq 0">
								<p>{$qianSixDate|date="Y-m-d",###}留存比例：0%</p>
								<p>{$qianSixDate|date="Y-m-d",###}流失比例：0%</p>
							<else />
								<p>{$qianSixDate|date="Y-m-d",###}留存比例：{$SixLiuPercent}%</p>
								<p>{$qianSixDate|date="Y-m-d",###}流失比例：{$SixLiuPercent}%</p>
							</if>
							
						</li>

						<!-- 前五天 -->
						<li>
							<if condition="$RegNum eq 0">
								<p>{$qianFiveDate|date="Y-m-d",###}留存比例：0%</p>
								<p>{$qianFiveDate|date="Y-m-d",###}流失比例：0%</p>
							<else />
								<p>{$qianFiveDate|date="Y-m-d",###}留存比例：{$FiveLiuPercent}%</p>
								<p>{$qianFiveDate|date="Y-m-d",###}流失比例：{$FiveLiuPercent}%</p>
							</if>
							
						</li>

						<!-- 前四天 -->
						<li>
							<if condition="$RegNum eq 0">
								<p>{$qianFourDate|date="Y-m-d",###}留存比例：0%</p>
								<p>{$qianFourDate|date="Y-m-d",###}流失比例：0%</p>
							<else />
								<p>{$qianFourDate|date="Y-m-d",###}留存比例：{$FourLiuPercent}%</p>
								<p>{$qianFourDate|date="Y-m-d",###}流失比例：{$FourLiuPercent}%</p>
							</if>
							
						</li>

						<!-- 前天 -->
						<li>
							<if condition="$RegNum eq 0">
								<p>{$qianDate|date="Y-m-d",###}留存比例：0%</p>
								<p>{$qianDate|date="Y-m-d",###}流失比例：0%</p>
							<else />
								<p>{$qianDate|date="Y-m-d",###}留存比例：{$ThreeLiuPercent}%</p>
								<p>{$qianDate|date="Y-m-d",###}流失比例：{$ThreeLiuPercent}%</p>
							</if>
							
						</li>

						<!-- 昨天 -->
						<li>
							<if condition="$RegNum eq 0">
								<p>{$yestodayDate|date="Y-m-d",###}留存比例：0%</p>
								<p>{$yestodayDate|date="Y-m-d",###}流失比例：0%</p>
							<else />
								<p>{$yestodayDate|date="Y-m-d",###}留存比例：{$TwoLiuPercent}%</p>
								<p>{$yestodayDate|date="Y-m-d",###}流失比例：{$TwoLiuPercent}%</p>
							</if>
							
						</li>

						

						<!-- 今天 -->
						<li>
							<if condition="$RegNum eq 0">
								<p>今日留存比例：0%</p>
								<p>今日流失比例：0%</p>
							<else />
								<p>今日留存比例：{$todayLiuPercent}%</p>
								<p>今日流失比例：{$todayDiuPercent}%</p>
							</if>
							
						</li>
					</ul>
				</div>
			</div>
			
			<!-- 老用户流失 -->
			<div>
				<div id="chart4">
					
				</div>
			</div>





		</div>
			


	</div>
	<script src="__PUBLIC__/home/js/layer.js"></script>
	<script src="__PUBLIC__/js/common.js"></script>
	<script type="text/javascript">
		/*type代表查询的类型，1：今日*/
		function showUserLists(qudao_id,type){
			
			
			$.ajax({
				url: '/index.php?g=Admin&m=Statistics&a=getUserLists',
				type: 'POST',
				dataType: 'json',
				data: {qudaoID:qudao_id,type:type},
				success:function(data){

					var arr=data;

					var str="<ul class='userlists'>";

					for (var i = 0; i <arr.length; i++) {
						str+="<li>ID："+arr[i].uid+"  &nbsp;&nbsp;&nbsp;&nbsp;昵称："+arr[i].user_nicename;
					}

					str+="</ul>";


					layer.open({
					  type: 1,
					  title:"用户列表",
					  skin: 'layui-layer-rim', //加上边框
					  area: ['420px', '240px'], //宽高
					  content: str
					});
				},
				error:function(data){
					layer.msg("查询失败啦，稍后再试吧");
				}
			});
			
			
		}
	</script>



	<if condition="$lists1">

		<script type="text/javascript">
		
		var data=new Array();
		var arr=Array(96);
		var count=<?php echo count($lists1)?>;
		var myarray=<?php echo json_encode($lists1);?>;
		for(var i=0;i<count;i++){
			arr[i]=myarray[i]['num'];
		}
		
		data[0]=arr;
		var data_max ={$lists1Max}; //Y轴最大刻度
		var line_title = ["在线人数"]; //曲线名称
		var y_label = "人数轴"; //Y轴标题
		var x_label = "时间轴"; //X轴标题
		var x =new Array (96); //定义X轴刻度值
		for(var i=0;i<x.length;i++){
			x[i]=1+i;
		}
		var title = "这是标题"; //统计图标标题
		j.jqplot.diagram.base("chart1", data, line_title, "在线人数统计[00:05:00--08:00:00]（5分钟统计一次）", x, x_label, y_label, data_max, 1);

		</script>
	</if>
	
	<if condition="$lists2">

		<script type="text/javascript">
			var data1=new Array();
			
			var arr1=Array(96);
			var count=<?php echo count($lists2)?>;
			var myarray=<?php echo json_encode($lists2);?>;
			for(var i=0;i<count;i++){
				arr1[i]=myarray[i]['num'];
			}


			
			data1[0]=arr1;
			var data_max1 ={$lists2Max}; //Y轴最大刻度
			var line_title1 = ["在线人数"]; //曲线名称
			var y_label1= "人数轴"; //Y轴标题
			var x_label1= "时间轴"; //X轴标题
			var x1 =new Array (96); //定义X轴刻度值
			for(var i=0;i<x1.length;i++){
					x1[i]=96+1+i;
			}
			var title1 = "这是标题"; //统计图标标题
			j.jqplot.diagram.base("chart2", data1, line_title1, "在线人数统计[08:05:00--16:00:00]（5分钟统计一次）", x1, x_label1, y_label1, data_max1, 1);

		</script>

	</if>

	<if condition="$lists3">

		<script type="text/javascript">
			var data2=new Array();
			

			var arr2=Array(96);
			
			var count=<?php echo count($lists3)?>;

			var myarray=<?php echo json_encode($lists3);?>;

			for(var i=0;i<count;i++){
				arr2[i]=myarray[i]['num'];
			}

			
			data2[0]=arr2;
			var data_max2={$lists3Max}; //Y轴最大刻度
			var line_title2 = ["在线人数"]; //曲线名称
			var y_label2= "人数轴"; //Y轴标题
			var x_label2= "时间轴"; //X轴标题
			var x2 =new Array (96); //定义X轴刻度值
			for(var i=0;i<x2.length;i++){
					x2[i]=96*2+1+i;
			}
			var title2 = "这是标题"; //统计图标标题
			j.jqplot.diagram.base("chart3", data2, line_title2, "在线人数统计[16:05:00--24:00:00]（5分钟统计一次）", x2, x_label2, y_label2, data_max2, 1);
		
		
		</script>

		<script type="text/javascript">
			$(function(){
				setTimeout(function(){
					location.reload();
				},1000*60*5);
			});
		</script>
	
	</if>


		<script type="text/javascript">
			var data3=new Array();
			
			var arr3=Array(30);
			var count=30;
			var myarray=<?php echo json_encode($lists4);?>;
			for(var i=0;i<count;i++){
				arr3[i]=myarray[i];
			}


			
			data3[0]=arr3;
			var data_max3 ={$lists4Max}; //Y轴最大刻度
			var line_title3 = ["登录人数"]; //曲线名称
			var y_label3= "人数轴"; //Y轴标题
			var x_label3= "时间轴"; //X轴标题
			var x3 =new Array (30); //定义X轴刻度值
			for(var i=0;i<x3.length;i++){
					x3[i]=1+i;
			}
			var title3 = "这是标题"; //统计图标标题
			j.jqplot.diagram.base("chart4", data3, line_title3, "30天登录情况[从30天之前一直到今天]", x3, x_label3, y_label3, data_max3, 2);

		</script>




</body>
</html>