<admintpl file="header" />
</head>
<body>
	<div class="wrap">
		<ul class="nav nav-tabs">
			<li ><a href="{:U('Carouse/index')}">转盘游戏</a></li>
			<li class="active"><a>转盘修改</a></li>
		</ul>
		<form method="post" class="form-horizontal js-ajax-form" action="{:U('Carouse/edit_post')}">
		   <input type="hidden" name="id" value="{$info['id']}">
			<fieldset>
				
				<div class="control-group">
					<label class="control-label">总数</label>
					<div class="controls">
						<input type="text" name="nums" value="{$info['nums']}">
						<span class="form-required">*（填写数量请与图片上数量一致）</span>
					</div>
				</div>
				
				<div class="control-group">
					<label class="control-label">图片</label>
					<div class="controls">
								<div >
									<input type="hidden" name="url" id="thumb2" value="{$info['url']}">
									<a href="javascript:void(0);" onclick="flashupload('thumb_images', '附件上传','thumb2',thumb_images,'1,jpg|jpeg|gif|png|bmp,1,,,1','','','');return false;">
											<if condition="$info['url'] neq ''">
														<img src="{$info['url']}" id="thumb2_preview" width="135" style="cursor: hand" />
												<else/>
														<img src="__TMPL__Public/assets/images/default-thumbnail.png" id="thumb2_preview" width="135" style="cursor: hand" />
												</if>
									</a>
									<input type="button" class="btn btn-small" onclick="$('#thumb2_preview').attr('src','__TMPL__Public/assets/images/default-thumbnail.png');$('#thumb2').val('');return false;" value="取消图片"> 图片大小严格遵守400px * 400px尺寸，图片要顶边
								</div>
						<span class="form-required"></span>
					</div>
				</div>


			</fieldset>
			<div class="form-actions">
				<button type="submit" class="btn btn-primary js-ajax-submit">{:L('EDIT')}</button>
				<a class="btn" href="{:U('Carouse/index')}">{:L('BACK')}</a>
			</div>
		</form>
	</div>
	<script src="__PUBLIC__/js/common.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/content_addtop.js"></script>
</body>
</html>