<admintpl file="header" />
</head>
<body>
	<div class="wrap">
		<ul class="nav nav-tabs">
			<li class="active"><a >转盘游戏</a></li>
			<li><a href="{:U('Carouse/edit')}">转盘修改</a></li>
		</ul>
		<div>
			<img src="{$info['url']}" style="width: 300px;height: 300px;border: 0;">
		</div>

		<a style="width: 40px;height: 25px;display: block;text-align:center;line-height:25px;background: #33485D;border-radius: 3px;color: #FFF;margin-top:20px;text-decoration: none;" href="{:U('Carouse/edit')}">修改</a>
	</div>
	<script src="__PUBLIC__/js/common.js"></script>
</body>
</html>