<admintpl file="header" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/layer.css">
<script type="text/javascript" src="__PUBLIC__/home/js/layer.js"></script>

</head>
<body>
<style>
input{
  width:500px;
}
.form-horizontal textarea{
 width:500px;
}
.nav-tabs>.current>a{
    color: #95a5a6;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}
.nav li
{
	cursor:pointer
}
.nav li:hover
{
	cursor:pointer
}
</style>


	<div class="wrap js-check-wrap">
		<!-- <ul class="nav nav-tabs">
			<li class="active"><a href="{:U('Config/index')}">设置</a></li>
			<li><a href="{:U('Config/lists')}">管理</a></li>
			<li><a href="{:U('Config/add')}">添加</a></li>
		</ul> -->
		<ul class="nav nav-tabs js-tabs-nav">
			<li><a>网站信息</a></li>
			<li><a>APP版本管理</a></li>
			<li><a>分享设置</a></li>
			<li><a>PC推流设置</a></li>
			<li><a>直播间设置</a></li>
		</ul>
		
		<form method="post" class="form-horizontal js-ajax-form" action="{:U('Config/set_post')}">
			<input type="hidden" name="post['id']" value="1">
			<div class="js-tabs-content">
				<!-- 网站信息 -->
				<div>
					<fieldset>
						<div class="control-group">
							<label class="control-label">网站维护</label>
							<div class="controls">				
								<label class="radio inline"><input type="radio" value="0" name="post[maintain_switch]" <eq name="config['maintain_switch']" value="0">checked="checked"</eq>>关闭</label>
								<label class="radio inline"><input type="radio" value="1" name="post[maintain_switch]" <eq name="config['maintain_switch']" value="1">checked="checked"</eq>>开启</label>
								<label class="checkbox inline">网站维护开启后，无法开启直播，进入直播间</label>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">维护提示</label>
							<div class="controls">				
								<textarea name="post[maintain_tips]">{$config['maintain_tips']}</textarea>维护提示信息（200字以内）
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">网站标题</label>
							<div class="controls">				
								<input type="text" name="post[sitename]" value="{$config['sitename']}">网站标题
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">网站域名</label>
							<div class="controls">				
								<input type="text" name="post[site]" value="{$config['site']}"> 网站域名，http:// 开头  尾部不带 /
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">接口域名</label>
							<div class="controls">				
								<input type="text" name="post[site_url]" value="{$config['site_url']}"> 接口访问域名
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">版权信息</label>
							<div class="controls">				
								<textarea name="post[copyright]">{$config['copyright']}</textarea>版权信息（200字以内）
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">钻石名称</label>
							<div class="controls">				
								<input type="text" name="post[name_coin]" value="{$config['name_coin']}">用户充值得到的虚拟币名称
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">映票名称</label>
							<div class="controls">				
								<input type="text" name="post[name_votes]" value="{$config['name_votes']}">主播获得的虚拟票名称
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">金光一闪提示</label>
							<div class="controls">				
									<input type="text" name="post[enter_tip_level]" value="{$config['enter_tip_level']}"> 用户等级大于该值时，进入房间有金光一闪效果
							</div>
						</div>

						<div class="control-group">
							<label class="control-label">送礼物中奖几率(%)</label>
							<div class="controls">				
									<input type="text" name="post[gift_win_percent]" value="{$config['gift_win_percent']}"> 用户送礼物的时候中奖的几率，中奖后获得钻石是礼物的倍数
							</div>
						</div>

						<div class="control-group">
							<label class="control-label">送礼物中奖倍数</label>
							<div class="controls">				
									<input type="text" name="post[gift_win_multiple]" value="{$config['gift_win_multiple']}"> 用户送礼物的时候中奖的几率，中奖后获得钻石是礼物的倍数
							</div>
						</div>

						

						<div class="control-group" style="background: #EDF0F0;padding-top:10px;">

							<label class="control-label">购买一个月守护所需秀币</label>
							<div class="controls">				
								<input type="text" name="post[guard_coin]" value="{$config['guard_coin']}"> 用户购买一个月守护需要花费的秀币
							</div>
							<br />
							
							<label class="control-label">守护组别发言字数</label>
							<div class="controls">				
								<input type="text" name="post[guard_digits_num]" style="width: 100px;" value="{$config['guard_digits_num']}">个  用于直播间用户发言字数限制(请填写整数)
							</div>
							<br />

							<label class="control-label">守护组别发言间隔</label>
							<div class="controls">				
								<input type="text" style="width: 100px;" name="post[guard_digits_interval]" value="{$config['guard_digits_interval']}"> 秒  直播间用户发送文字的时间间隔
							</div>

							
						</div>



						<div class="control-group" style="background: #EDF0F0;padding-top:10px;">
							
							<label class="control-label">直播间文字广告</label>
							<div class="controls">				
								<input type="text" id="advertisement" name="post[live_advertise]" value="{$config['live_advertise']}"> 用于直播间文字广告
							</div>
							<br />
							<label class="control-label">直播间文字广告链接地址</label>
							<div class="controls">				
								<input type="text" id="advertisementUrl" name="post[live_advertise_url]" value="{$config['live_advertise_url']}"> 请使用http://或https://开头
							</div>
							<br />

							<label class="control-label">发送广告时间间隔</label>
							<div class="controls">				
								<input type="text" style="width: 30px;" name="post[live_advertise_timeinterval]" value="{$config['live_advertise_timeinterval']}"> 秒 直播间发送广告时间间隔
							</div>

							<div style="margin-top: 20px;padding-bottom: 10px;" class="controls">				
								<input type="button" value="立即推送" onclick="sendAdvertise(1)">
								<input style="margin-left: 30px;" type="button" id="intervalBtn" value="定时推送" onclick="sendAdvertise(2)">
								<input style="margin-left: 30px;border:1px solid #CCC;" type="button" id="clearIntervalBtn" value="取消定时推送" disabled="disabled" onclick="sendAdvertise(3)">
								<span style="margin-left: 20px;color: #F00;">请先保存数据再点击推送</span>
							</div>
							
						</div>


						


						<div class="control-group">
							<label class="control-label">IOS上架控制</label>
							<div class="controls">				
								<label class="radio inline"><input type="radio" value="0" name="post[ios_shelves]" <eq name="config['ios_shelves']" value="0">checked="checked"</eq>>隐藏</label>
								<label class="radio inline"><input type="radio" value="1" name="post[ios_shelves]" <eq name="config['ios_shelves']" value="1">checked="checked"</eq>>显示</label>
								<label class="checkbox inline">IOS上架时选择隐藏，上架成功后选择显示</label>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">私密房间开关</label>
							<div class="controls">				
								<label class="radio inline"><input type="radio" value="0" name="post[live_pri_switch]" <eq name="config['live_pri_switch']" value="0">checked="checked"</eq>>关闭</label>
								<label class="radio inline"><input type="radio" value="1" name="post[live_pri_switch]" <eq name="config['live_pri_switch']" value="1">checked="checked"</eq>>开启</label>
								<label class="checkbox inline">是否开启私密直播</label>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">收费房间开关</label>
							<div class="controls">				
								<label class="radio inline"><input type="radio" value="0" name="post[live_cha_switch]" <eq name="config['live_cha_switch']" value="0">checked="checked"</eq>>关闭</label>
								<label class="radio inline"><input type="radio" value="1" name="post[live_cha_switch]" <eq name="config['live_cha_switch']" value="1">checked="checked"</eq>>开启</label>
								<label class="checkbox inline">是否开启收费直播</label>
							</div>
						</div>
					</fieldset>
				</div>
				<!-- APP版本管理 -->
				<div>
					<fieldset>
						<div class="control-group">
							<label class="control-label">APK版本号</label>
							<div class="controls">				
								<input type="text" name="post[apk_ver]" value="{$config['apk_ver']}"> 安卓APP最新的版本号，请勿随意修改
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">APK下载链接</label>
							<div class="controls">				
								<input type="text" name="post[apk_url]" value="{$config['apk_url']}"> 安卓最新版APK下载链接
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">IPA版本号</label>
							<div class="controls">				
								<input type="text" name="post[ipa_ver]" value="{$config['ipa_ver']}"> IOS APP最新的版本号，请勿随意修改
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">IPA下载链接</label>
							<div class="controls">				
								<input type="text" name="post[ipa_url]" value="{$config['ipa_url']}"> IOS最新版IPA下载链接
							</div>
						</div>
					<div class="control-group">
						<label class="control-label">二维码下载链接</label>
						<div class="controls">
								<div >
									<input type="hidden" name="post[qr_url]" id="thumb" value="{$config['qr_url']}">
									<a href="javascript:void(0);" onclick="flashuploadcut('thumb_images', '附件上传','thumb',thumb_images,'1,jpg|jpeg|gif|png|bmp,1,,,1','','','');return false;">
									  <if condition="$config['qr_url'] neq ''">
												<img src="{$config['qr_url']}" id="thumb_preview" width="135" style="cursor: hand" />
										<else/>
										    <img src="__TMPL__Public/assets/images/default-thumbnail.png" id="thumb_preview" width="135" style="cursor: hand" />
										</if>
									</a>
									<input type="button" class="btn btn-small" onclick="$('#thumb_preview').attr('src','__TMPL__Public/assets/images/default-thumbnail.png');$('#thumb').val('');return false;" value="取消图片">
								</div>
							<span class="form-required"></span>
						</div>
					</div>
						
					</fieldset>
				</div>
				<!-- 分享设置 -->
				<div>
					<fieldset>
						<div class="control-group">
							<label class="control-label">微信推广域名</label>
							<div class="controls">				
								<input type="text" name="post[wx_siteurl]" value="{$config['wx_siteurl']}"> http:// 开头 参数值为用户ID
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">分享标题</label>
							<div class="controls">				
								<input type="text" name="post[share_title]" value="{$config['share_title']}"> 分享标题
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">分享话术</label>
							<div class="controls">				
								<input type="text" name="post[share_des]" value="{$config['share_des']}"> 分享话术
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">AndroidAPP下载链接</label>
							<div class="controls">				
								<input type="text" name="post[app_android]" value="{$config['app_android']}"> 分享用Android APP 下载链接
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">IOSAPP下载链接</label>
							<div class="controls">				
								<input type="text" name="post[app_ios]" value="{$config['app_ios']}"> 分享用IOS APP 下载链接
							</div>
						</div>
						<div class="control-group">
					
				</div>
						
					</fieldset>
				</div>
				<!-- PC推流设置 -->
				<div>
					<fieldset>
						<div class="control-group">
							<label class="control-label">推流分辨率宽度</label>
							<div class="controls">				
								<input type="text" name="post[live_width]" value="{$config['live_width']}">PC主播端flash分辨路宽度
							</div>
						</div><div class="control-group">
							<label class="control-label">推流分辨率高度</label>
							<div class="controls">				
								<input type="text" name="post[live_height]" value="{$config['live_height']}">PC主播端flash分辨路高度
							</div>
						</div><div class="control-group">
							<label class="control-label">关键帧</label>
							<div class="controls">				
								<input type="text" name="post[keyframe]" value="{$config['keyframe']}">PC主播端flash关键帧（推荐15-30）
							</div>
						</div><div class="control-group">
							<label class="control-label">fps帧数</label>
							<div class="controls">				
								<input type="text" name="post[fps]" value="{$config['fps']}">PC主播端flash FPS帧数（推荐30）
							</div>
						</div><div class="control-group">
							<label class="control-label">品质</label>
							<div class="controls">				
								<input type="text" name="post[quality]" value="{$config['quality']}">PC主播端flash 画面品质（推荐90-100）
							</div>
						</div>

					</fieldset>
				</div>
				<!-- 直播间设置 -->
				<div>
					<fieldset>
						<div class="control-group">
							<label class="control-label">侧边栏无直播提示语</label>
							<div class="controls">
								<textarea name="post[sidebar_unlive_notice]">{$config['sidebar_unlive_notice']}</textarea>
							</div>
						</div>
					</fieldset>
				</div>
			</div>
			<div class="form-actions">
				<button type="submit" class="btn btn-primary js-ajax-submit">{:L('SAVE')}</button>
				<a class="btn" href="{:U('user/index')}">{:L('BACK')}</a>
			</div>
		</form>
	</div>
	
	<script type="text/javascript" src="__PUBLIC__/js/content_addtop.js"></script>
	<script src="__PUBLIC__/js/common.js"></script>
	<script src="__PUBLIC__/js/socket.io.js"></script>
	<script src="__PUBLIC__/js/admin.js"></script>

	
	<script type="text/javascript">
    var socket = new io("{$chatserver}");

    var timeInterval="";

    function sendAdvertise(type){

    	if(type==1){
    		showalert();
    	}

    	if(type==2){
    		
    		//获取配置的时间
    		var seconds={$config['live_advertise_timeinterval']};

    		$("#clearIntervalBtn").removeAttr('disabled');
    		$("#intervalBtn").attr("disabled",true);

    		timeInterval=window.setInterval(showalert, seconds*1000); 

    	}

    	if(type==3){

    		clearInterval(timeInterval); 

	    	$("#intervalBtn").removeAttr('disabled');
	    	$("#clearIntervalBtn").attr("disabled",true);

	    	layer.msg("定时推送成功取消");
    	}
    	
    	
    }


    function showalert(){
    	var content=$("#advertisement").val();
    	var url=$("#advertisementUrl").val();
    	
    	var data2 = {"token":"1234567","content":content,"url":url};
		socket.emit("systemadvertise",data2);
		layer.msg("推送成功");
    }


</script>
</body>
</html>