<admintpl file="header" />
<style type="text/css">
	label{
		height: 35px;
		line-height: 35px;
		width: 100px;
		float: left;
	}
</style>

<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/layer.css">
</head>
<body>
	<div class="wrap">
		<ul class="nav nav-tabs">
			<li ><a href="{:U('RedPacket/index')}">发送红包列表</a></li>
			<li class="active"><a >发送红包</a></li>
		</ul>
		<!-- <form method="post" class="form-horizontal js-ajax-form" action="{:U('RedPacket/add_post')}"> -->
			<fieldset>
				<div class="control-group">
					<label class="control-label">红包类型</label>
					<div class="controls">
						<select id="type" name="type">
						    <option value="0">普通红包</option>
							<option value="1">口令红包</option>
							 
						</select>
						<span class="form-required">*</span>
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">标题或者口令</label>
					<div class="controls">
						<input type="text" name="title" value="恭喜发财">
						<span class="form-required">*</span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">直播间ID</label>
					<div class="controls">
						<input type="text" name="liveid">
						<span class="form-required">*</span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">红包个数</label>
					<div class="controls">
						<input type="text" name="num" value="1">
						<span class="form-required">*</span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">红包总金额</label>
					<div class="controls">
						<input type="text" name="totalMoney" value="0">
						<span class="form-required">*</span>
					</div>
				</div>


			</fieldset>
			<div class="form-actions">
				<button type="button" class="btn btn-primary js-ajax-submit RedPacketAdd">{:L('ADD')}</button>
				<a class="btn" href="{:U('RedPacket/index')}">{:L('BACK')}</a>
			</div>
		<!-- </form> -->
	</div>
	<script src="__PUBLIC__/js/common.js"></script>
	<script src="__PUBLIC__/home/js/layer.js"></script>
	<script src="__PUBLIC__/home/js/socket.io.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/content_addtop.js"></script>
	<script type="text/javascript">
		$(".RedPacketAdd").on('click',function(){

			var type=$('#type option:selected').val();


			var title= $('input[name="title"]').val();
			if(title==""){
				layer.msg("请填写红包标题或口令");
				return;
			}

			var liveid=$('input[name="liveid"]').val();

			if(liveid==""||isNaN(liveid)){
				layer.msg("请正确填写直播间ID");
				return;
			}

			var num=$('input[name="num"]').val();

			if(num==""||num<1){
				layer.msg("请正确填写红包个数");
				return;
			}

			var totalMoney=$('input[name="totalMoney"]').val();

			if(totalMoney==""||totalMoney<0){
				layer.msg("请正确填写红包金额");
				return;
			}

			if(totalMoney<num*0.01){
				layer.msg("红包总金额请至少保证能让每个人抢到1分钱");
				return;
			}

			$.ajax({
				url: '/index.php?g=Admin&m=RedPacket&a=add_post',
				type: 'POST',
				dataType: 'json',
				data: {type:type,title:title,liveid:liveid,num:num,totalMoney:totalMoney},
				success:function(data){

					if(data.code!=0){
						layer.msg(data.msg);
						return;
					}

					layer.msg("红包发送成功");

					//发送socket
					// var socket = new io("{$config['chatserver']}");
                    var socket = io.connect("{$config['chatserver']}",{"transports":['websocket']});


                    //拼socket
					var msg = '{"retcode":"000000","retmsg":"ok","msg":[{"_method_":"SendRedPack","sendRedUid":"1","action":"0","user_nicename":"系统","avatar":"'+data.info.avatar+'","msgtype":"0","redPacketType":"'+type+'","liveuid":"'+liveid+'","sendtime":"'+data.info.sendtime+'","uid":"1","title":"'+title+'","level":"1","roomnum":"'+liveid+'"}]}'; 

					
					socket.emit('superRedPacket',msg);



				},error:function(data){
					layer.msg("红包发送失败");
				}
			});
			
			




		});
	</script>
</body>
</html>