<admintpl file="header" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/layer.css">
<style type="text/css">
	.robLists{
		width: 100%;
		border:1px solid #CCC;
	}
	.robLists td{
		text-align: left;
		background: #DBE5E7;
		height: 25px;

	}
	.robUser{
		padding-left: 5%;
		width: 30%;
	}
	.robCoin{
		width: 10%;
	}
	.robQuan{
		width: 20%;
	}
	.robTime{
		width: 35%;
	}

	.backTitle,.backWoring{
		width: 96%;
		padding-left: 4%;
		height: 35px;
		line-height: 35px;
	}

	.backMsg{
		width: 100%;
		border:1px solid #CCC;
	}

	.backMsg td{
		text-align: left;
		background: #DBE5E7;
		height: 30px;
	}

	.backCoin{
	 width: 30%;
	}

	.backWoring{
		color:red;
	}
</style>
</head>
<body>
	<div class="wrap">
		<ul class="nav nav-tabs">
			<li class="active"><a >发送红包列表</a></li>
			<li><a href="{:U('RedPacket/add')}">发送红包</a></li>
		</ul>
		<form method="post" class="js-ajax-form" action="{:U('Gift/listorders')}">
			
		
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
					 
						<th align="center">ID</th>
						<th>红包发送人</th>
						<th>所在直播间</th>
						<th>红包个数</th>
						<th>总金额</th>
						<th>红包类型</th>
						<th>标题或口令</th>
						
						<th>发布时间</th>
						<th align="center">{:L('ACTIONS')}</th>
					</tr>
				</thead>
				<tbody>
					<php>$type=array("0"=>"普通红包","1"=>"口令红包");</php>
					<foreach name="lists" item="vo">
					<tr>
					   
						<td align="center">{$vo.id}</td>
						<td align="center">{$vo['userinfo']['user_nicename']}({$vo['uid']})</td>
						<td>{$vo['roominfo']['user_nicename']}({$vo['roomid']})</td>
						<td>{$vo['num']}</td>
						<td>{$vo['total_money']}</td>
						<td>{$type[$vo['type']]}</td>
						<td>{$vo['title']}</td>
						
						<td>{$vo.addtime|date="Y-m-d H:i:s",###}</td>
						<td align="center">	
							<!-- <a href="{:U('Gift/edit',array('id'=>$vo['id']))}" >编辑</a>
							<if condition="in_array($vo['id'],array('9','19','21','22') )">
							
							<else/>
							 |
							  <a href="{:U('Gift/del',array('id'=>$vo['id']))}" class="js-ajax-dialog-btn" data-msg="您确定要删除吗？">删除</a>
							</if> -->
							<a style="cursor: pointer;" onclick="showLists({$vo.id},{$vo.uid},{$vo.roomid},{$vo.type},{$vo.addtime})">领取详情</a>
						</td>
					</tr>
					</foreach>
				</tbody>
			</table>
			<div class="pagination">{$page}</div>
			
		</form>
	</div>
	
	<script src="__PUBLIC__/js/common.js"></script>
	<script src="__PUBLIC__/home/js/layer.js"></script>
	<script type="text/javascript">
		
		function showLists(id,sendid,roomid,type,sendtime){
			$.ajax({
				url: './index.php?g=admin&m=RedPacket&a=robLists',
				type: 'POST',
				dataType: 'json',
				data: {id:id,sendid:sendid,roomid:roomid,type:type,sendtime:sendtime},
				success:function(data){
					if(data.code==0){
						var arr=data.info;
						var listsStr="<table cellpadding='2' border='2' cellspacing='2' class='robLists'><tr><td class='robUser'>领取人</td><td class='robCoin'>金币</td><td class='robQuan'>直播券</td><td class='robTime'>领取时间</td></tr>";
						for (var i = 0; i < arr.length; i++) {
							listsStr+="<tr>";
							listsStr+="<td class='robUser'>"+arr[i]['userinfo']['user_nicename']+"</td>";
							listsStr+="<td class='robCoin'>"+arr[i]['coin']+"</td>";
							listsStr+="<td class='robQuan'>"+arr[i]['livecoin']+"</td>";
							listsStr+="<td class='robTime'>"+arr[i]['addtime']+"</td>";
							listsStr+="</tr>";
						}

						listsStr+="</table>";
						console.log(data.backMsg);
						if(data.backMsg!=""){
							listsStr+="<div class='backTitle'>红包退还信息</div>";
							listsStr+="<table cellpadding='2' border='2' cellspacing='2' class='backMsg'><tr><td class='robUser'>退还直播券</td><td class='backCoin'>退还金币</td><td class='robTime'>退还时间</td></tr>";

							listsStr+="<tr>";
							listsStr+="<td class='robUser'>"+data.backMsg.livecoin+"</td>";
							listsStr+="<td class='backCoin'>"+data.backMsg.coin+"</td>";
							listsStr+="<td class='robTime'>"+data.backMsg.addtime+"</td>";
							listsStr+="</tr>";

							listsStr+="</table>";
						}else{
							listsStr+="<div class='backWoring'>该红包无退还记录</div>";
						}
						

						layer.open({
						  type: 1,
						  title:"红包领取记录(红包ID:"+id+")",
						  skin: 'layui-layer-rim', //加上边框
						  area: ['500px', '240px'], //宽高
						  content: listsStr
						});


					}else{
						layer.msg("没有查询到相关记录");
						
					}
				},
				error:function(data){
					layer.msg('查询失败');
					
				}
			});
			
			
		}
	</script>
</body>
</html>