<admintpl file="header" />
<style>
	.clearfix::after {
		display: block;
		clear: both;
		content: "";
	}
	.total-statistics > ul{
		list-style:none;
		margin: 0;
	}
	.total-statistics > ul > li{
		margin-right: 20px;
		float: left;
	}
</style>
</head>
<body>
	<div class="wrap">
		<ul class="nav nav-tabs">
			<li class="active"><a >消费记录</a></li>
		</ul>
		<form class="well form-search" method="post" action="{:U('Coinrecord/index')}">
			收支类型：
			<select class="select_2" name="type">
				<option value="">全部</option>
				<volist name="type" id="v">
					<option value="{$key}" <if condition="$formget.type eq $key">selected</if> >{$v}</option>
				</volist>

			</select> &nbsp;&nbsp;
			货币类型：
			<select class="select_2" name="spend_type">
				<option value="">全部</option>
				<volist name="spend_type" id="v">
					<option value="{$key}" <if condition="$formget.spend_type eq $key">selected</if> >{$v}</option>
				</volist>
			</select> &nbsp;&nbsp;
			收支行为：
			<select class="select_2" name="action">
				<option value="">全部</option>
				<volist name="action" id="v">
					<option value="{$key}" <if condition="$formget.action eq $key">selected</if> >{$v}</option>
				</volist>
			</select> &nbsp;&nbsp;
			赠送时间：
			<input type="text" name="start_time" class="js-date date" value="{$formget.start_time}" style="width: 80px;" autocomplete="off">-
			<input type="text" class="js-date date" name="end_time" value="{$formget.end_time}" style="width: 80px;" autocomplete="off"> &nbsp; &nbsp;
			会员：
			<input type="text" name="uid" style="width: 200px;" value="{$formget.uid}" placeholder="请输入会员ID值...">
			主播：
			<input type="text" name="touid" style="width: 200px;" value="{$formget.touid}" placeholder="请输入主播ID值...">

			<input type="submit" class="btn btn-primary" value="搜索">
			<button class="btn btn-primary btn-export" name="is_export" value="">导出到Excel</button>
		</form>

		<form method="post" class="js-ajax-form">

			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th align="center">ID</th>
						<th>收支类型</th>
						<th>货币类型</th>
						<th>收支行为</th>
						<th>会员 (ID)</th>
						<th>主播 (ID)</th>
						<th>礼物 (ID)</th>
						<th>礼物数量</th>
						<th>礼物总价</th>
						<th>直播id</th>
						<th>赠送时间</th>
					</tr>
				</thead>
				<tbody>

					<foreach name="rs.lists" item="vo">
					<tr>
						<td align="center">{$vo.id}</td>
						<td>{$vo['type']}</td>
						<td>{$vo['spend_type']}</td>
						<td>{$vo['action']}</td>
						<td>{$vo['userinfo']} ( {$vo['uid']} )</td>
						<td>{$vo['touserinfo']} ( {$vo['touid']} )</td>
						<td>{$vo['giftinfo']} ( {$vo['giftid']} )</td>
						<td>{$vo['giftcount']}</td>
						<td>{$vo['total_price']}</td>
						<td>{$vo['showid']}</td>
						<td>{$vo.addtime|date="Y-m-d H:i:s",###}</td>
					</tr>
					</foreach>
				</tbody>
			</table>
			<div class="total-statistics">
				<ul class="clearfix">
					<li>全部消费总额：<b>{$rs.total_spend}</b></li>
					<li>单页消费总额：<b>{$rs.single_spend}</b></li>
				</ul>
			</div>
			<div class="pagination">{$rs.page}</div>

		</form>
	</div>
	<script src="__PUBLIC__/js/common.js"></script>
	<script>
		$(function(){
		    $('.btn-export').on('click', function(){
		        $(this).val('export');
			});
		});
	</script>
</body>

</html>