<admintpl file="header"/>
        <style type="text/css">
            .div-list {
                width:200px;
                float:left;
            }
            .div-list > li {
                list-style: none;
                padding-left: 20px;
                height: 30px;
            }
            .right-container{
                width:900px ;
            }

            .right-container > .question > p > span {
                margin-left: 30px;
                width: 250px;
                margin-left: 0px;
                margin-right: 100px;
            }
            .right-container-table{
                width: 700px;
                border:1px solid gray;
            }

            table tr {
                line-height: 30px;
            }
            td {
                text-align: center;
            }
            .activity_id,.activity_name {
                color: #0000ff;
                font-size: 16px;
            }

        </style>
        {:$this->registerCssFile('public/home/css/layer.css')}
        {:$this->registerJsFile('public/home/js/layer.js')}
    </head>
    <body>
        <div class="wrap js-check-wrap">
            <ul class="nav nav-tabs">
                <li><a href="{:U('activity/index')}">活动管理</a></li>
                <li><a href="{:U('activity/edit')}">创建/编辑活动</a></li>
                <li class="active"><a>答题记录</a></li>
            </ul>
            <div class="form-actions">
                <input type="hidden" class="current-question-id" value="">
                <span>活动编号</span><span class="activity_id">{$data.activity.activity_id}</span>
                <span style="margin-left: 50px;">活动名称: </span><span class="activity_name">{$data.activity.activity_name}</span>
            </div>
            <div class="div-list">
                <li><a href="javascript:void(0);" class="rank-click">排行榜</a></li>
                <volist name="data.question"  id="vo">
                    <li class="question_id" data-id="{$key+1}"><a href="javascript:void(0);">第{$key+1}题</a></li>
                </volist>
            </div>
            <div class="right-container">
                <div class="question">
                    <p><span class="question_name"></span></p>
                    <p class="question_answer"></p>
                </div>
                <div class="click-button click-button-top">
                    <p>
                        <button style="float:right;margin-left: 10px;" value="rank" class="export-val">导出到Excel</button>
                    </p>
                </div>
                <p>
                    <br />
                <table class="right-container-table rank-table" border="1">
                    <thead>
                        <th>名次</th>
                        <th>昵称</th>
                        <th>答题用时</th>
                        <th>平分奖金</th>
                        <th>加奖奖金</th>
                    </thead>
                    <tbody class="rank-table-tbody">
                        <volist name="data.rank" id="val">
                            <tr height="30">
                            <td>{$key+1}</td>
                            <td>{$val.user_nicename}</td>
                            <td>{$val.time}</td>
                            <td>{$val.base_bonus_amount}</td>
                            <td>{$val.ranking_bonus_amount}</td>
                            </tr>
                        </volist>
                    </tbody>
                </table>
                <table class="right-container-table question-table" border="1">
                    <thead>
                    <th>名次</th>
                    <th>昵称</th>
                    <th>答题用时</th>
                    <th>状态</th>
                    <th>操作</th>
                    </thead>
                    <tbody class="question-table-tbody"></tbody>
                </table>
                </p>
            </div>



        </div>

        <script type="text/javascript">
            $(function(){
                $('.question-table').hide();
                getRankDetail();
                getQuestionDetail();
                exportExcel();
            });

            /**
             * 导出Excel
             */
            function exportExcel()
            {
                $('.export-val').on('click', function(){
                    var activity_id = $('.activity_id').text();
                    var question_id = $('.current-question-id').val();
                    var type = $(this).val();
                    var param_str = '&activity_id=' + activity_id + '&type=' + type + '&question_id=' + question_id;
                    window.open('/index.php?g=Admin&m=Activity&a=export' + param_str,'_blank');
                });
            }

            /**
             * 设置导出Excel类型
             */
            function setExportType(type) {
                $('.export-val').val(type);
            }

            /**
             * 点击排名操作
             */
            function getRankDetail()
            {
                $('.rank-click').on('click', function(){
                    $('.question-table').hide();
                    $('.rank-table').show();
                    $('.question_name').text("");
                    $('.question_answer').html("");
                    setExportType('rank');
                });
            }

            /**
             * 设置当前activity_id, question_id
             */
            function setCurrentQuestionID(question_id)
            {
                $('.current-question-id').val(question_id);
            }

            /**
             * 过滤/恢复
             */
            function setFilterPlayerStatus(user_id, act_type, class_name)
            {
                var activity_id = $('.activity_id').text();
                var question_id = $('.current-question-id').val();
                var uid         = user_id;
                var type        = act_type;

                $.ajax({
                    url: '/index.php?g=Admin&m=Activity&a=filterPlayerStatus',
                    type: 'POST',
                    dataType: 'json',
                    data: {activity_id:activity_id, question_id:question_id, uid:uid, type:type},
                    success: function (ret) {
                        if (parseInt(ret.code) !== 200) {
                            layer.msg(ret.message);
                            return;
                        }
                        if('filter' == type){
                            $('.'+  class_name).text('过滤');
                        }else{
                            $('.'+  class_name).text('正常');
                        }
                        layer.msg(ret.data);
                    }, error: function (data) {
                        return ;
                    }
                });
            }

            /**
             * 获取每道题详细信息
             */
            function getQuestionDetail()
            {
                $('.question_id').each(function (i) {
                    $(this).on('click', function(){

                        $('.rank-table').hide();
                        $('.question-table').show();
                        $('.question_name').text("");
                        $('.question_answer').html("");

                        var activity_id = $('.activity_id').text();
                        var question_id = $(this).data('id');
                        setCurrentQuestionID(question_id);
                        setExportType('question');

                        $.ajax({
                            url: '/index.php?g=Admin&m=Activity&a=activityAnswerUserLog',
                            type: 'POST',
                            dataType: 'json',
                            data: {question_id:question_id, activity_id:activity_id},
                            success: function (ret) {
                                if (parseInt(ret.code) !== 200) {
                                    layer.msg(ret.message);
                                    return;
                                }

                                //题目start
                                var rs = ret.data;
                                //替换题目
                                $('.question_name').text(rs.question.name);
                                var answer_len = rs.question.answer.length;
                                if(0 < answer_len){
                                    var answer_list = "";
                                    for(var i=0; i<answer_len; i++){
                                        //替换答案
                                        answer_list += '<span style="width: auto;">' + rs.question.answer[i] +'</span>';
                                    }
                                    $('.question_answer').html(answer_list);
                                }
                                //题目end

                                //排行榜start
                                var rank_list = '';
                               $.each(rs.rank, function(i,e){
                                   rank_list += '<tr height="30">';
                                   rank_list += '<td>' + e.rank + '</td>';
                                   rank_list += '<td>' + e.user_nickname + '</td>';
                                   rank_list += '<td>' + e.score + '</td>';
                                   rank_list += '<td class="question-status-' + i + '">' + e.status + '</td>';
                                   rank_list += '<td><a href="javascript:setFilterPlayerStatus('+ e.uid + ', `filter`, `question-status-'+ i +'`);">过滤</a> | <a href="javascript:setFilterPlayerStatus('+ e.uid + ', `regain`, `question-status-'+ i +'`);">恢复</a></td>';
                                   rank_list += '</tr>';
                               });
                               $('.question-table-tbody').html(rank_list);
                                //题目end

                            }, error: function (data) {
                                return ;
                            }
                        });
                    });
                });
            }





        </script>
    </body>
</html>