<admintpl file="header"/>
<style>
    .controls img{
        max-width:200px;
    }
</style>
</head>
<body>
<div class="wrap js-check-wrap">
    <ul class="nav nav-tabs">
        <li><a href="{:U('Question/quesWareroomManager')}">题库管理</a></li>
        <li><a href="{:U('Question/quesListManager')}">题单管理</a></li>
        <li><a href="{:U('Question/quesManager')}">题目管理</a></li>
        <li class="active"><a href="{:U('Question/import')}">题目批量导入</a></li>
    </ul>
    <form method="post" class="form-horizontal js-ajax-form" action="{:U('Question/excelImport')}" enctype="multipart/form-data">
        <fieldset>
            <div class="control-group">
                <label style="line-height: 12px;" class="control-label">Excle导入：</label>
                <div class="controls">
                    <input type="file" name="file" value="">
                </div>
            </div>

        </fieldset>
        <div style="padding-left: 82px;" class="form-actions" >
            <button type="submit" class="btn btn-primary js-ajax-submit">导入</button>
            Excel格式：<img src="__PUBLIC__/images/import_excel.jpg">
        </div>
    </form>
</div>
<script src="__PUBLIC__/js/common.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/content_addtop.js"></script>
</body>
</html>