<admintpl file="header" />
</head>
<body>
	<style type="text/css">
		.created-td{
			background-color: #333333c2;
		    padding: 5px 20px;
		    border-radius: 7px;
		    width: 110px;
		    height: 25px;
		    text-align: center;
		    font-size: 16px;
		    color: white !important;
		}
		.table-actions{
			margin-bottom: 16px;
		}
	</style>
	<div class="wrap js-check-wrap">

        <ul class="nav nav-tabs">
            <li><a href="{:U('Question/quesWareroomManager')}">题库管理</a></li>
            <li class="active"><a href="{:U('Question/quesListManager')}">题单管理</a></li>
            <li><a href="{:U('Question/quesManager')}">题目管理</a></li>
            <li><a href="{:U('Question/import')}">题目批量导入</a></li>
        </ul>

    	<div class="table-actions">
    		<a class="created-td" href="{:U('Question/quesListAdd')}">创建题单</a>
		</div>

		<form method="post" class="js-ajax-form" >
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th align="center">题单编号</th>
						<th>题单名称</th>
						<th>创建时间</th>
						<th>创建人</th>
						<th align="center">{:L('ACTIONS')}</th>
					</tr>
				</thead>
				<tbody>
					<foreach name="lists" item="vo">
					<tr>
						<td align="center">{$vo.id}</td>
						<td>{$vo.name}</td>
						<td>{$vo.created_at|date='Y/m/d',###}</td>
						<td>{$vo.admin_user_name}</td>
						<td align="center">
								<a href="{:U('Question/getQuesListInfo',array('id'=>$vo['id']))}">编辑</a> | 
								<a href="{:U('Question/quesListDel',array('id'=>$vo['id']))}" class="js-ajax-dialog-btn" data-msg="您确定要删除此题单吗？">删除</a>
						</td>
					</tr>
					</foreach>
				</tbody>
			</table>
			<div class="pagination">{$page}</div>
		</form>
	</div>
 <script src="__PUBLIC__/js/common.js"></script>
</body>
</html>