<admintpl file="header" />
</head>
<body>
    <style type="text/css">
        .clearfix::after {
          display: block;
          clear: both;
          content: "";
        }
        .fl-l{
            float: left;
        }
        .css-radio-label{
            line-height: 14px;
            margin-right: 30px;
        }
        #three_one, #four_one{
            height:13px; vertical-align:text-top; margin-top:0;
            display:block;
        }
        .mg-t-30{
            margin-top: 30px;
        }
    </style>
    <script type="text/javascript">
        $(function(){
            $('#three_one').click(function(){
                $('.answer-4').hide();
            });
            $('#four_one').click(function(){
                $('.answer-4').show();
            });
        });
    </script>
	<div class="wrap">

        <ul class="nav nav-tabs">
            <li><a href="{:U('Question/quesWareroomManager')}">题库管理</a></li>
            <li><a href="{:U('Question/quesListManager')}">题单管理</a></li>
            <li class="active"><a href="{:U('Question/quesManager')}">题目管理</a></li>
            <li><a href="{:U('Question/import')}">题目批量导入</a></li>
        </ul>

		<form method="post" class="form-horizontal js-ajax-form" action="{:U('Question/quesManager')}">

            <div class="clearfix control-group mg-t-30">
                <label class="control-label"></label>
                <div><input id='three_one' type="radio" name="html_type" value="1" class="fl-l"/><label for="three_one" class="fl-l css-radio-label">3选1</label></div>
                <div><input id="four_one" type="radio" checked="" name="html_type" value="2" class="fl-l"/><label for="four_one" class="fl-l css-radio-label">4选1</label></div>
            </div>
			<fieldset>
				<div class="control-group">
					<label class="control-label">题目</label>
					<div class="controls">
						<input type="text" name="html_name">
						<span class="form-required">*</span>
					</div>
				</div>
                <div class="control-group">
                    <label class="control-label">答案1</label>
                    <div class="controls">
                        <input type="text" name="html_answer[]">
                        <span class="form-required">*</span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">答案2</label>
                    <div class="controls">
                        <input type="text" name="html_answer[]">
                        <span class="form-required">*</span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">答案3</label>
                    <div class="controls">
                        <input type="text" name="html_answer[]">
                        <span class="form-required">*</span>
                    </div>
                </div>
                <div class="control-group answer-4">
                    <label class="control-label">答案4</label>
                    <div class="controls">
                        <input type="text" name="html_answer[]">
                        <span class="form-required">*</span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">正确答案</label>
                    <div class="controls">
                        <input type="text" name="html_right_answer">
                        <span class="form-required">*</span>
                    </div>
                </div>
			</fieldset>
			<div class="form-actions">
				<button type="submit" class="btn btn-primary js-ajax-submit">保存题目</button>
			</div>
		</form>
	</div>
	<script src="__PUBLIC__/js/common.js"></script>
    <script src="__PUBLIC__/js/validate.js?v="></script>
</body>
</html>