<template>
  <div class="answer-bg">
    <activity-socket></activity-socket>
    <prepare v-if="activity.status == 1 || activity.status == 2 || activity.status == 8" />
    <exam v-if="activity.status == 3 || activity.status == 7 || activity.status == 9" />
    <race-result v-if="activity.status == 6 || activity.status == 4" />
<!-- 0-活动未发布,1-活动发布,2-活动准备(倒计时),3-活动进行中（先进来的用户）,4-活动结束,5-活动删除    6:排行版  7： 答题结束 8:活动准备（开始答题）  9:活动进行中（后进来的用户） -->
  </div>
</template>
<script>

  import {mapState, mapActions} from 'vuex'; 
  import prepare from './components/Prepare'
  import exam from './components/Exam'
  import RaceResult from './components/RaceResult'
  import ActivitySocket from './components/ActivitySocket'


  export default {
    replace: true,
    name: 'app',
    data() {
      return {
        showAlert: false,
        alertText: null,
      }
    },
    components: {
      prepare,
      exam,
      RaceResult,
      ActivitySocket
    },
    computed: {
      ...mapState([
        'activity'
      ]),
    },
    created() {
      // this.$bus.on(Event.SHOW_ALERT, this.showAlertFunc);
    },
    beforeDestroy() {
      // this.$bus.off(Event.SHOW_ALERT, this.showAlertFunc);
    },
    methods: {
      
    }
   }

</script>

<style lang="scss">
  @import './style/common';

  .answer-bg {
  width: 100%;
  height: 100%;
  background:  url('./images/asnwer_bg.jpg');
  background-size: 100% 100%;
  position: relative;
}

</style>
