<admintpl file="header" />
</head>
<body>
	<div class="wrap">
		<ul class="nav nav-tabs">
			<li class="active"><a >直播记录</a></li>
		</ul>
		
		<form class="well form-search" method="post" action="{:U('Live/index')}">
			时间：
			<input type="text" name="start_time" class="js-date date" value="{$formget.start_time}" style="width: 80px;" autocomplete="off">-
			<input type="text" class="js-date date" name="end_time" value="{$formget.end_time}" style="width: 80px;" autocomplete="off"> &nbsp; &nbsp;
			关键字： 
			<input type="text" name="keyword" style="width: 200px;" value="{$formget.keyword}" placeholder="请输入会员id...">
			<input type="submit" class="btn btn-primary" value="搜索">
		</form>		
		<form method="post" class="js-ajax-form" >

			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th align="center">编号</th>
						<th>会员昵称</th>
						<th>直播ID</th>
						<th>直播状态</th>
						<th>直播开始时间</th>
						<th>播流地址</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<php>$islive=array("0"=>"直播结束","1"=>"直播中");</php>
					<foreach name="lists" item="vo">
					<tr>
						<td align="center">{$vo.uid}</td>					
						<td>{$vo['userinfo']['user_nicename']} </td>
						<td>{$vo['showid']}</td>
						<td>{$islive[$vo['islive']]}</td>
						<td>{$vo.starttime|date="Y-m-d H:i:s",###}</td>
						<td>{:PrivateKeyA('rtmp',$vo['stream'],0)}</td>
						<td>
							<a href="{:U('Channel/index',array('id'=>$vo['id']))}" >编辑</a>
							|
							<a href="{:U('Channel/liveSwitch', ['liveid'=>$vo['uid']])}">直播切换列表</a>
						</td>
					</tr>
					</foreach>
				</tbody>
			</table>
			<div class="pagination">{$page}</div>

		</form>
	</div>
	<script src="__PUBLIC__/js/common.js"></script>
</body>
</html>