﻿<admintpl file="header"/>
<style>
 .controls img{
     max-width:200px;
 }
</style>
</head>
<body>
	<div class="wrap js-check-wrap">
		<ul class="nav nav-tabs">
			<li ><a href="{:U('indexadmin/index')}">本站会员</a></li>
			<li ><a href="{:U('indexadmin/add')}">新增会员</a></li>
			<li class="active"><a >批量导入</a></li>
		</ul>
		<form method="post" class="form-horizontal js-ajax-form" action="{:U('indexadmin/excel_import')}" enctype="multipart/form-data">
			<fieldset>
				<div class="control-group">
					<label style="line-height: 12px;" class="control-label">Excle导入：</label>
					<div class="controls">
					   <input type="file" name="file" value="">
					</div>
				</div>
	
			</fieldset>
				<div style="padding-left: 82px;" class="form-actions" >
				<button type="submit" class="btn btn-primary js-ajax-submit">导入</button>
				Excel格式：<img src="__PUBLIC__/images/importuser.png">
			</div>		
		</form>		
	</div>
	<script src="__PUBLIC__/js/common.js"></script>
		<script type="text/javascript" src="__PUBLIC__/js/content_addtop.js"></script>
</body>
</html>