<admintpl file="header" />
</head>
<body>
	<div class="wrap js-check-wrap">
		<ul class="nav nav-tabs">
			<li class="active"><a>{:L('USER_INDEXADMIN_INDEX')}</a></li>
			<li ><a href="{:U('indexadmin/add')}">新增会员</a></li>
			<!-- <li ><a href="{:U('indexadmin/importuser')}">批量导入</a></li> -->
		</ul>
		<form class="well form-search" method="post" action="{:U('indexadmin/index')}">
			僵尸粉开关： 
			<select class="select_2" name="iszombie">
				<option value="">全部</option>
				<option value="1" <if condition="$formget.iszombie eq '1'">selected</if> >开启</option>
				<option value="0" <if condition="$formget.iszombie eq '0'">selected</if> >关闭</option>			
			</select> &nbsp;&nbsp;
			僵尸粉： 
			<select class="select_2" name="iszombiep">
				<option value="">全部</option>
				<option value="1" <if condition="$formget.iszombiep eq '1'">selected</if> >是</option>
				<option value="0" <if condition="$formget.iszombiep eq '0'">selected</if> >否</option>
	
			</select> &nbsp;&nbsp;	
			禁用： 
			<select class="select_2" name="isban">
				<option value="">全部</option>
				<option value="0" <if condition="$formget.isban eq '0'">selected</if> >是</option>
				<option value="1" <if condition="$formget.isban eq '1'">selected</if> >否</option>
			</select> &nbsp;&nbsp;	
			热门： 
			<select class="select_2" name="ishot">
				<option value="">全部</option>
				<option value="1" <if condition="$formget.ishot eq '1'">selected</if> >是</option>
				<option value="0" <if condition="$formget.ishot eq '0'">selected</if> >否</option>
			</select> &nbsp;&nbsp;	
			超管： 
			<select class="select_2" name="issuper">
				<option value="">全部</option>
				<option value="1" <if condition="$formget.issuper eq '1'">selected</if> >是</option>
				<option value="0" <if condition="$formget.issuper eq '0'">selected</if> >否</option>
			</select> &nbsp;&nbsp;
			注册时间：
			<input type="text" name="start_time" class="js-date date" value="{$formget.start_time}" style="width: 80px;" autocomplete="off">-
			<input type="text" class="js-date date" name="end_time" value="{$formget.end_time}" style="width: 80px;" autocomplete="off"> &nbsp; &nbsp;
			最后登录时间：
			<input type="text" name="start_last_login_time" class="js-date date" value="{$formget.start_last_login_time}" style="width: 80px;" autocomplete="off">-
			<input type="text" class="js-date date" name="end_last_login_time" value="{$formget.end_last_login_time}" style="width: 80px;" autocomplete="off"> &nbsp; &nbsp;
			关键字： 
			<input type="text" name="keyword" style="width: 200px;" value="{$formget.keyword}" placeholder="请输入会员id、用户名或者昵称...">
			<input type="submit" class="btn btn-primary" value="搜索">
		</form>		
		<form method="post" class="js-ajax-form" >
			<div class="table-actions">
				<button class="btn btn-primary btn-small js-ajax-submit" type="submit" data-action="{:U('indexadmin/zombiepbatch',array('iszombiep'=>'1'))}" data-subcheck="true">批量设置为僵尸粉</button>
				<button class="btn btn-primary btn-small js-ajax-submit" type="submit" data-action="{:U('indexadmin/zombiepbatch',array('iszombiep'=>'0'))}" data-subcheck="true">批量取消僵尸粉</button>
				
				<button class="btn btn-primary btn-small js-ajax-submit" type="submit" data-action="{:U('indexadmin/zombieall',array('iszombie'=>'1'))}" >一键开启僵尸粉</button>
				<button class="btn btn-primary btn-small js-ajax-submit" type="submit" data-action="{:U('indexadmin/zombieall',array('iszombie'=>'0'))}" >一键关闭僵尸粉</button>
				<!-- <button class="btn btn-primary btn-small js-ajax-submit" type="submit" data-action="{:U('indexadmin/recordall',array('isrecord'=>'1'))}" >一键开启录播</button>
				<button class="btn btn-primary btn-small js-ajax-submit" type="submit" data-action="{:U('indexadmin/recordall',array('isrecord'=>'0'))}" >一键关闭录播</button> -->
			</div>
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th width="15"><label><input type="checkbox" class="js-check-all" data-direction="x" data-checklist="js-check-x"></label></th>
						<th align="center">ID</th>
						<th>{:L('USERNAME')}</th>
						<th>{:L('NICENAME')}</th>
						<th>{:L('AVATAR')}</th>
						<!-- <th>{:L('EMAIL')}</th> -->
						<th>余额</th>
						<th>累计消费</th>
						<th>映票</th>
						<th>累计映票</th>
						<th>直播券</th>
						<th>马甲名称</th>
						<th>经验值</th>
						<th>{:L('REGISTRATION_TIME')}</th>
						<th>{:L('LAST_LOGIN_TIME')}</th>
						<th>{:L('STATUS')}</th>
						<th>发言字数</th>
						<th>发言频率(秒)</th>
						<th>是否可发网址</th>
						<th align="center">{:L('ACTIONS')}</th>
					</tr>
				</thead>
				<tbody>
					<php>$user_statuses=array("0"=>L('USER_STATUS_BLOCKED'),"1"=>L('USER_STATUS_ACTIVATED'),"2"=>L('USER_STATUS_UNVERIFIED'));</php>
					<php>$vestName=array('1'=>'白马','6'=>'<span style="color:#A535AE;">紫马</span>','7'=>'<span style="font-weight: bold;">黑马</span>')</php>
					<php>$send_url=array('0'=>'不可发送','1'=>'可发送')</php>
					<foreach name="lists" item="vo">
					<tr>
						<td><input type="checkbox" class="js-check" data-yid="js-check-y" data-xid="js-check-x" name="ids[]" value="{$vo.id}" title="ID:{$vo.id}"></td>
						<td align="center">{$vo.id}</td>
						<td>{$vo['user_login']?$vo['user_login']:L('THIRD_PARTY_USER')}</td>
						<td>{$vo['user_nicename']?$vo['user_nicename']:L('NOT_FILLED')}</td>
						<td><img width="25" height="25" src="{$vo['avatar']}" /></td>
						<!-- <td>{$vo.user_email}</td> -->
						<td>{$vo.coin}</td>
						<td>{$vo.consumption}</td>
						<td>{$vo.votes}</td>
						<td>{$vo.votestotal}</td>
						<td>{$vo.livecoin}</td>
						<td>{$vestName[$vo['vest_id']]}</td>
						<td>{$vo.consumption}</td>
						<td>{$vo.create_time}</td>
						<td>{$vo.last_login_time}</td>
						<td>{$user_statuses[$vo['user_status']]}</td>
						<td>{$vo['chat_num']}</td>
						<td>{$vo['chat_frequency']}</td>
						<td>{$send_url[$vo['send_url']]}</td>
						<td align="center">
								<if condition="$vo.user_status eq '1'">
										<a href="{:U('indexadmin/ban',array('id'=>$vo['id']))}" class="js-ajax-dialog-btn" data-msg="{:L('BLOCK_USER_CONFIRM_MESSAGE')}">{:L('BLOCK_USER')}</a> |
								<else/>							
										<a href="{:U('indexadmin/cancelban',array('id'=>$vo['id']))}" class="js-ajax-dialog-btn" data-msg="{:L('ACTIVATE_USER_CONFIRM_MESSAGE')}">{:L('ACTIVATE_USER')}</a> |			
								</if>		
								<if condition="$vo.issuper eq '1'">
									<a href="{:U('indexadmin/cancelsuper',array('id'=>$vo['id']))}" class="js-ajax-dialog-btn" data-msg="您确定要取消超管吗？">取消超管</a> |		
								<else/>							
									<a href="{:U('indexadmin/super',array('id'=>$vo['id']))}" class="js-ajax-dialog-btn" data-msg="您确定要设置超管吗？">设置超管</a> |	
								</if>
								<if condition="$vo.ishot eq '1'">
									<a href="{:U('indexadmin/cancelhot',array('id'=>$vo['id']))}" class="js-ajax-dialog-btn" data-msg="您确定要取消热门吗？">取消热门</a> |		
								<else/>							
									<a href="{:U('indexadmin/hot',array('id'=>$vo['id']))}" class="js-ajax-dialog-btn" data-msg="您确定要设置热门吗？">热门</a> |	
								</if>		
								<if condition="$vo.isrecommend eq '1'">
									<a href="{:U('indexadmin/cancelrecommend',array('id'=>$vo['id']))}" class="js-ajax-dialog-btn" data-msg="您确定要取消推荐吗？">取消推荐</a> |		
								<else/>							
									<a href="{:U('indexadmin/recommend',array('id'=>$vo['id']))}" class="js-ajax-dialog-btn" data-msg="您确定要推荐此用户吗？">推荐</a> |	
								</if>			
								<if condition="$vo.iszombie eq '1'">
									<a href="{:U('indexadmin/cancelzombie',array('id'=>$vo['id']))}" class="js-ajax-dialog-btn" data-msg="您确定要关闭僵尸粉吗？">关闭僵尸粉</a> |		
								<else/>							
									<a href="{:U('indexadmin/zombie',array('id'=>$vo['id']))}" class="js-ajax-dialog-btn" data-msg="您确定要开启僵尸粉吗？">开启僵尸粉</a> |	
								</if>	
								<if condition="$vo.iszombiep eq '1'">
									<a href="{:U('indexadmin/cancelzombiep',array('id'=>$vo['id']))}" class="js-ajax-dialog-btn" data-msg="您确定要取消设置僵尸粉吗？">取消设置僵尸粉</a> |		
								<else/>							
									<a href="{:U('indexadmin/zombiep',array('id'=>$vo['id']))}" class="js-ajax-dialog-btn" data-msg="您确定要设置为僵尸粉吗？">设置为僵尸粉</a> |	
								</if>	
								<!-- <if condition="$vo.isrecord eq '1'">
									<a href="{:U('indexadmin/cancelrecord',array('id'=>$vo['id']))}" class="js-ajax-dialog-btn" data-msg="您确定要关闭录播吗？">关闭录播</a> |		
								<else/>							
									<a href="{:U('indexadmin/record',array('id'=>$vo['id']))}" class="js-ajax-dialog-btn" data-msg="您确定要开启录播吗？">开启录播</a> |	
								</if>	 -->
								
								<if condition="$vo.iswhite eq '1'">
									<a href="{:U('indexadmin/cancelwhite',array('id'=>$vo['id']))}" class="js-ajax-dialog-btn" data-msg="您确定将该用户移出白名单吗？">移出白名单</a> |		
								<else/>							
									<a href="{:U('indexadmin/white',array('id'=>$vo['id']))}" class="js-ajax-dialog-btn" data-msg="您确定将该用户加入白名单吗？">加入白名单</a> |	
								</if>

								<if condition="$vo.issendimg eq '1'">
									<a href="{:U('indexadmin/cancelsendimg',array('id'=>$vo['id']))}" class="js-ajax-dialog-btn" data-msg="您确定将该用户关闭发图吗？">关闭发图</a> |		
								<else/>							
									<a href="{:U('indexadmin/sendimg',array('id'=>$vo['id']))}" class="js-ajax-dialog-btn" data-msg="您确定将该用户开启发图吗？">开启发图</a> |	
								</if>

								<a href="{:U('indexadmin/edit',array('id'=>$vo['id']))}">编辑</a> | 
								<a href="{:U('indexadmin/del',array('id'=>$vo['id']))}" class="js-ajax-dialog-btn" data-msg="您确定要删除此用户吗？">删除</a>
						</td>
					</tr>
					</foreach>
				</tbody>
			</table>
			<div class="pagination">{$page}</div>
		</form>
	</div>
 <script src="__PUBLIC__/js/common.js"></script>
</body>
</html>