*{
	padding:0;
	margin: 0;
}
body {
	font:14px/1.5 Arial, '\5FAE\8F6F\96C5\9ED1';
	background:#f8f8f8;
}
ul,ol,li { 
	list-style-type:none;
}
img {
	border:none;
	vertical-align:middle;
}

ul.list{
	
}

ul.list li{
	padding:10px 0;
	position:relative;
	background:#fff;
}
ul.list li:after{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
	overflow:hidden;
}
ul.list li .nums{
	float:left;
	width:20px;
	height: 45px;
	line-height: 45px;
	font-size:16px;
	margin-right:5px;
	margin-left:10px;
	text-align:center;
}

ul.list li .avatar{
	float:left;
	margin:0 5px;
}

ul.list li .avatar img{
	width:40px;
	height:40px;
	border-radius:50%;
	margin-top:2px;
}

ul.list li .info{
	position:relative;
	line-height:42px;
}

ul.list li .info .name{
	font-size: 16px;
	float:left;
	color:#333;
}

ul.list li .info .name span{
    max-width: 60px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 42px;
    height: 42px;
	margin-right:5px;
    float: left;
}

ul.list li .info .sex{
	height:15px;
}
ul.list li .info .level{
	height:15px;
}

ul.list li .info .contribute{
	float:right;
	background:url('../images/coin.png') no-repeat center right;
	background-size:18px;
	padding-right:20px;
	margin-right:10px;
}

ul.list li .info .contribute-nums{
	color:#666666;
	font-size:16px;
	margin-left:5px;
	margin-right:5px;
}
ul.list li.order1{
	margin-bottom:10px;
}
ul.list li.order1 .nums{
	float:left;
	position:absolute;
	width:80px;
	height:25px;
	line-height:25px;
	background:#ffdc8e;
	border-radius:0 12px 12px 0;
	color:#fff;
	text-align:center;
}

ul.list li.order1 .avatar{
	float:none;
	height:200px;
	margin:0;
}

ul.list li.order1 .avatar img{
	width:70px;
	height:70px;
	margin-top: 84px;
	margin-left: 10px;
}
ul.list li.order1 .avatar span{
	background: url(../images/top-bg.png) no-repeat center top;
	display: block;
	background-size: auto 200px;
	width: 100%;
	height: 200px;
	position: absolute;
	top: 0;
}
ul.list li.order1 .info{
	text-align:center;
}
ul.list li.order1 .info .name{
	float:none;
	line-height:25px;
}

ul.list li.order1 .info .contribute{
	float:none;
	background:none;
	padding-right:0;
	margin-right:0;
	line-height:25px;
}
ul.list li.order1 .info .contribute-nums{
	color:#f6c636;
}
