<admintpl file="header" />
</head>
<body>
	<div class="wrap">
		<ul class="nav nav-tabs">
			<li class="active"><a >举报列表</a></li>

		</ul>
		<form class="well form-search" method="post" action="{:U('Report/index')}">
		  状态：
			<select class="select_2" name="status">
				<option value="">全部</option>
				<option value="0" <if condition="$formget.status eq '0'">selected</if> >处理中</option>
				<option value="1" <if condition="$formget.status eq '1'">selected</if> >已处理</option>			
			</select>
			提交时间：
			<input type="text" name="start_time" class="js-date date" value="{$formget.start_time}" style="width: 80px;" autocomplete="off">-
			<input type="text" class="js-date date" name="end_time" value="{$formget.end_time}" style="width: 80px;" autocomplete="off"> &nbsp; &nbsp;
			关键字： 
			<input type="text" name="keyword" style="width: 200px;" value="{$formget.keyword}" placeholder="请输入会员ID">
			<input type="submit" class="btn btn-primary" value="搜索">
		</form>				
		<form method="post" class="js-ajax-form" >

		
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th align="center">ID</th>
						<th>举报人</th>						
						<th>被举报人</th>
						<th>举报内容</th>
						<th>状态</th>
						<th>提交时间</th>
						<th>处理时间</th>

						<th align="center">{:L('ACTIONS')}</th>
					</tr>
				</thead>
				<tbody>
					<php>$status=array("0"=>"处理中","1"=>"已处理", "2"=>"审核失败");</php>
					<foreach name="lists" item="vo">
					<tr>
						<td align="center">{$vo.id}</td>
						<td>{$vo['userinfo']['user_nicename']} ( {$vo['uid']} )</td>	
						<td>{$vo['touserinfo']['user_nicename']} ( {$vo['touid']} )</td>		
						<td><?php echo nl2br($vo['content']);?></td>				
						<td>{$status[$vo['status']]}</td>
						<td>{$vo.addtime|date="Y-m-d H:i:s",###}</td>						
						<td>
						 <if condition="$vo['status'] eq '0'" >
						    处理中
						 <else/>
						     {$vo.uptime|date="Y-m-d H:i:s",###}
						 </if>						
						 </td>

						<td align="center">	
							<if condition="$vo['status'] eq '0'" >
						    <a href="{:U('Report/setstatus',array('id'=>$vo['id']))}" >标记处理</a>  |
							</if>

							<if condition="$vo['touserinfo']['user_status'] eq '1'">
								<a href="{:U('Report/ban',array('id'=>$vo['touid']))}" class="js-ajax-dialog-btn" data-msg="{:L('是否拉黑该用户?')}">拉黑</a> |
							<else/>							
								<a href="{:U('Report/cancelban',array('id'=>$vo['touid']))}" class="js-ajax-dialog-btn" data-msg="{:L('是否取消拉黑?')}">取消拉黑</a> |	
							</if>

							<if condition="$vo['touserinfo']['issendimg'] eq '1'">
								<a href="{:U('Report/cancelsendimg',array('id'=>$vo['touid']))}" class="js-ajax-dialog-btn" data-msg="您确定将该用户关闭发图吗？">关闭发图</a> |		
							<else/>							
								<a href="{:U('Report/sendimg',array('id'=>$vo['touid']))}" class="js-ajax-dialog-btn" data-msg="您确定将该用户开启发图吗？">开启发图</a> |	
							</if>
							
							<a href="{:U('Report/del',array('id'=>$vo['id']))}" class="js-ajax-dialog-btn" data-msg="您确定要删除吗？">删除</a>|
							<a href="{:U('Report/edit',array('id'=>$vo['touid']))}">禁用IP管理</a>

						</td>
					</tr>
					</foreach>
				</tbody>
			</table>
			<div class="pagination">{$page}</div>

		</form>
	</div>
	<script src="__PUBLIC__/js/common.js"></script>
</body>
</html>