<template>
  <div></div>
</template>

<script>
  import Event from 'src/utils/Event';
  import {
    mapState,
    mapActions
  } from 'vuex';

  export default {
    data() {
      return {
        socket: window.socket
      }
    },
    created() {
      this.$bus.on(Event.EMIT_EVENT, this.emitEvent);
    },
    beforeDestroy() {
      this.$bus.off(Event.EMIT_EVENT, this.emitEvent);
    },
    computed: {
      // ...mapState([
      //   'user'
      // ]),
      // ...mapState([
      //   'room'
      // ]),
      // ...mapState([
      //   'anchor'
      // ]),
      // ...mapState([
      //   'live'
      // ]),
    },
    mounted() {

      this.socket.on('activityListen', (msg) => {
        switch (msg._method_) {
          case "next":
            this.$bus.emit(Event.ACTIVITY_NEXT_EVENT, msg);
            break;
          case "result":
          case "end":
            this.$bus.emit(Event.ACTIVITY_RESULT_EVENT, msg);
            break;
        }
      });

    },
    methods: {
      emitEvent(msg) {
        this.socket.emit('activity', JSON.stringify(msg));

        // switch(msg._method_) {
        //   case "next":
        //     this.$bus.emit(Event.ACTIVITY_NEXT_EVENT, msg);
        //   break;
        //   case "result":
        //     this.$bus.emit(Event.ACTIVITY_RESULT_EVENT, msg);
        //   break;
        // }

      }
    }
  }

</script>
