<template>
  <section class="race-result">
    <!-- "extra_bonus_type":"1"            //有无加奖：0-无加奖，1-有加奖 -->
    <div class="race-result-left" v-bind:class="{ 'rece-extra_bonus_type': activity.extra_bonus_type != 1,   }">
      <PrizeList />
    </div>
    <div class="race-result-right" v-if="activity.extra_bonus_type == 1">
      <ExtPrizeList />
    </div>
  </section>
</template>
<script>
import { mapState, mapActions, mapMutations } from 'vuex';
 import PrizeList from './PrizeList'
 import ExtPrizeList from './ExtPrizeList'
  import {
    pushVerifyAnswer
  } from '../utils/getData';
  export default {
    data () {
      return {
      }
    },
    mounted() {
    },
    components: {
      PrizeList,
      ExtPrizeList
    },
    props: {
     
    },
    watch: {
    
    },
    computed: {
      ...mapState([
        'currentSubject'
      ]),
      ...mapState([
        'room'
      ]),
      ...mapState([
        'activity'
      ]),
    },
    methods: {
       ...mapMutations([
        'SET_CURRENT_SUBJECT'
      ]),
      selectAnswer(item) {
      },
      // async submmitAnswer(answer) {
      //  let res = await pushVerifyAnswer(this.activity.id, this.room.id, answer);
      // }
    }
  }
</script>
<style lang="scss" scoped>
.race-result {
    width: 90%;
    height: 84%;
    float: left;
    margin: 8% 0 0 5%;


    .race-result-left {
      width: 60%;
      height: 100%;
      float: left;
      padding-right: 20px;
      box-sizing: border-box;
    }

  .rece-extra_bonus_type {
    padding-right: 0;
    width: 80%;
    margin-left: 10%;

  }
  .race-result-right {
      width: 40%;
      height: 100%;
      float: left;
      background: rgba(0, 0, 0, 0.2);
      border-radius: 10px;
    }
}
</style>

