<admintpl file="header" />
<style type="text/css">
	.greenWoring{
		color: green;
		font-weight: bold;
	}
	.redWoring{
		color: red;
		font-weight: bold;
	}
</style>
</head>
<body>
	<div class="wrap">
		<ul class="nav nav-tabs">
			<li class="active"><a >马甲列表</a></li>
		</ul>

			<table class="table table-hover table-bordered">
				<thead>
					<tr>
					  
						<th align="center">ID</th>
						<th><center>马甲名称</center></th>
						<th><center>男性马甲</center></th>
						<th><center>女性马甲</center></th>
						<th><center>踢人</center></th>
						<th><center>踢管理员</center></th>
						<th><center>禁止说话</center></th>
						<th><center>全频道禁言</center></th>
						<th><center>设置管理</center></th>
						<th><center>私聊</center></th>
						<th align="center">{:L('ACTIONS')}</th>
					</tr>
				</thead>
				<tbody>
					
					<foreach name="vests" item="vo">
					<tr>
					   
						<td align="center">{$vo.id}</td>
						<td><center>{$vo['vest_name']}</center></td>
						<th><center><img src="{$vo['vest_man_url']}"></center></th>
						<th><center><img src="{$vo['vest_woman_url']}"></center></th>
						<td><center><if condition="$vo['away_user'] eq 1"><span class="greenWoring">√</span><else /><span class="redWoring">×</span></if></center></td>
						<td><center><if condition="$vo['away_admin'] eq 1"><span class="greenWoring">√</span><else /><span class="redWoring">×</span></if></center></td>
						<td><center><if condition="$vo['gap'] eq 1"><span class="greenWoring">√</span><else /><span class="redWoring">×</span></if></center></td>
						<td><center><if condition="$vo['gap_all'] eq 1"><span class="greenWoring">√</span><else /><span class="redWoring">×</span></if></center></td>
						<td><center><if condition="$vo['set_admin'] eq 1"><span class="greenWoring">√</span><else /><span class="redWoring">×</span></if></center></td>
						<td><center><if condition="$vo['private_chat'] eq 1"><span class="greenWoring">√</span><else /><span class="redWoring">×</span></if></center></td>
						<td align="center">	
							<a href="{:U('Vest/edit',array('id'=>$vo['id']))}" >编辑</a>
							
						</td>
					</tr>
					</foreach>
				</tbody>
			</table>
			<!-- <div class="pagination">{$page}</div> -->

	</div>
	<script src="__PUBLIC__/js/common.js"></script>
</body>
</html>