<admintpl file="header" />
</head>
<body>
	<div class="wrap">
		<ul class="nav nav-tabs">
			<li><a href="{:U('Chargerules/index')}">列表</a></li>
			<li class="active"><a >添加</a></li>
		</ul>
		<form method="post" class="form-horizontal js-ajax-form" action="{:U('Chargerules/do_add')}">
			<fieldset>
				<div class="control-group">
					<label class="control-label">名称</label>
					<div class="controls">
						<input type="text" name="name">
						<span class="form-required">*</span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">钻石</label>
					<div class="controls">
						<input type="text" name="coin">
						<span class="form-required">*</span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">价格</label>
					<div class="controls">
						<input type="text" name="money">
						<span class="form-required">*</span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">苹果支付价格</label>
					<div class="controls">
						<input type="text" name="money_ios">
						<span class="form-required">*</span>
					</div>
				</div><div class="control-group">
					<label class="control-label">苹果项目ID</label>
					<div class="controls">
						<input type="text" name="peoduct_id">
						<span class="form-required">*</span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">赠送钻石</label>
					<div class="controls">
						<input type="text" name="give" value="0">
						<span class="form-required">*</span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">序号</label>
					<div class="controls">
						<input type="text" name="orderno" value="0">
						<span class="form-required">*</span>
					</div>
				</div>

			</fieldset>
			<div class="form-actions">
				<button type="submit" class="btn btn-primary js-ajax-submit">{:L('ADD')}</button>
				<a class="btn" href="{:U('Chargerules/index')}">{:L('BACK')}</a>
			</div>
		</form>
	</div>
	<script src="__PUBLIC__/js/common.js"></script>
</body>
</html>