<admintpl file="header"/>
</head>
<body>
<div class="wrap">
    <ul class="nav nav-tabs">
        <li><a href="{:U('Channel/liveSwitch', ['liveid'=>$liveId])}">直播切换列表</a></li>
        <li class="active"><a>编辑</a></li>
    </ul>
    <form method="post" class="form-horizontal js-ajax-form">
        <fieldset>
            <div class="control-group">
                <label class="control-label">序号</label>
                <div class="controls">
                    <input type="text" name="orderno" value="{$channel['orderno']}">
                    <span class="form-required">*</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">子直播ID</label>
                <div class="controls">
                    <input type="text" name="child_liveid" value="{$channel['child_liveid']}">
                    <span class="form-required">*</span>
                </div>
            </div>

        </fieldset>
        <div class="form-actions">
            <input type="hidden" name="id" value="{$channel['id']}">
            <input type="hidden" name="liveid" value="{$channel['liveid']}">
            <button type="submit" class="btn btn-primary js-ajax-submit">{:L('EDIT')}</button>
            <a class="btn" href="{:U('Channel/liveSwitch', ['liveid'=>$liveId])}">{:L('BACK')}</a>
        </div>
    </form>
</div>
<script src="__PUBLIC__/js/common.js"></script>
</body>
</html>