<admintpl file="header"/>
</head>
<body>
<div class="wrap">
    <ul class="nav nav-tabs">
        <li class="active"><a>直播切换列表</a></li>
        <li><a href="{:U('Channel/addLiveSwitch', ['liveid' => $liveId])}">添加</a></li>
    </ul>
    <form method="post" class="js-ajax-form" action="{:U('Channel/editLiveSwitchOrder')}">
        <div class="table-actions">
            <button class="btn btn-primary btn-small js-ajax-submit" type="submit">{:L('SORT')}</button>
        </div>

        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th>排序</th>
                <th align="center">房间ID</th>
                <th>子直播ID</th>
                <th align="center">{:L('ACTIONS')}</th>
            </tr>
            </thead>
            <tbody>
            <foreach name="lists" item="vo">
                <tr>
                    <td><input name="listorders[{$vo['id']}]" type="text" size="3" value="{$vo['orderno']}"
                               class="input input-order"></td>
                    <td>{$vo['liveid']}</td>
                    <td>{$vo['child_liveid']}</td>
                    <td align="center">
                        <a href="{:U('Channel/editLiveSwitch', ['id'=>$vo['id']])}">编辑</a>
                        |
                        <a href="{:U('Channel/delLiveSwitch', ['id'=>$vo['id']])}" class="js-ajax-dialog-btn"
                           data-msg="您确定要删除吗？">删除</a>
                    </td>
                </tr>
            </foreach>
            </tbody>
        </table>
        <div class="pagination">{$page}</div>
        <div class="table-actions">
            <button class="btn btn-primary btn-small js-ajax-submit" type="submit">{:L('SORT')}</button>
        </div>
    </form>
</div>
<script src="__PUBLIC__/js/common.js"></script>
</body>
</html>