<tc_include file="Public:head" />
<title>我的直播记录</title>
<link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/font-awesome.min.css"/>
</head>
<body style="background-color:#f3f3f3">
<tc_include file="Public:header" />
<tc_include file="Home/Personal:header" />
<div class="buyvip" id="buyvip"></div>
<div class="dds-dialog-bg" id="ds-dialog-bg"></div>
<div class="container">
	<div class="Firstfloor">
		<div class="Leftlayout">
			<tc_include file="Home/Personal:navigation" />
		</div>
		<div class="rightlayout">
			<div class="clearfix">
				<div class="shouyez">
					<h3 class="personal_h3">
						<i class="h3_one"></i>
						我的直播记录
						<span>
						 {$getConfigName['name_coin']}:{$coin}
						 <a class="icon"></a>
						</span>
						<a class="buy-coins" href="index.php?m=Payment&a=index">充值<a>
						<a class="buy-coins" onclick="Personal.played({$uid})">回放<a>
						<div class="linexi"></div>
					</h3>
				</div>
			</div>
			<div class="schedule">
				<div class="charge_mt">
				<h4>我的直播记录</h4>
				 <form action="index.php?m=Personal&a=live" method="post">
				  查询时间：
					<input type="text" name="start_time" class="js-date date" value="{$formget.start_time}"  autocomplete="off">-
					<input type="text" name="end_time" class="js-date date" value="{$formget.end_time}"  autocomplete="off">
					<button type="submit" value="搜索">搜索</button>
				</form> 
				</div>
				<div class="charge_table">
					<table>
					 <tbody>
						<tr>
						  <th width="20%">开播时间</th>
							<th width="15%">结束时间</th>
							<th width="15%">房间人数</th>
							<th width="20%">直播标题</th>
						  <th width="10%">直播类型</th>
						</tr>
						<foreach name="lists" item="vo">
							<tr>
								<td width="20%">{$vo['starttime']|date="Y-m-d H:i:s",###}</td>
								<if condition="$vo['endtime'] neq 0 ">
									<td width="15%">{$vo['endtime']|date="Y-m-d H:i:s",###}</td>
								<else/>
									<td width="15%"></td>
								</if>
								<td width="15%">{$vo['nums']}</td>
								<td width="20%">{$vo['title']}</td>
								<if condition="$vo['type'] eq 0">
									<td width="10%">一般直播</td>
								<elseif condition="$vo['islive'] eq 1"/>
									<td width="10%">私密直播</td>
								<else/>
									<td width="10%">计时直播</td>
								</if>
							</tr>						
						</foreach>
						</tbody>						
					</table>
          <div class="page">
					
	          </div>		    	   					
				</div>
			</div>
				{$page}
		</div>
  </div>
</div>
<tc_include file="Public:footer" />
<tc_include file="Home/Personal:footer" /> 
</body>
</html>