<tc_include file="Public:head" />
<title>消费记录</title>
<link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/common.css"/>
<link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/Personal.css"/>
<link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/font-awesome.min.css"/>

</head>
<body style="background-color:#f3f3f3">
<tc_include file="Public:header" />
<tc_include file="Home/Personal:header" />
<div class="container">
	<div class="Firstfloor">
		<div class="Leftlayout">
			<tc_include file="Home/Personal:navigation" />
		</div>
		<div class="rightlayout">
			<div class="clearfix">
				<div class="shouyez">
					<h3 class="personal_h3">
						<i class="h3_one"></i>
					</h3>
				</div>
			</div>
			<div class="schedule">
				<div class="charge_mt">
				<h4>消费记录</h4>
				 <form action="index.php?m=Personal&a=spend" method="post">
				  查询时间：
					<input type="text" name="start_time" class="js-date date" value="{$formget.start_time}"  autocomplete="off">-
					<input type="text" name="end_time" class="js-date date" value="{$formget.end_time}"  autocomplete="off">
					<button type="submit"  style="width: 46px;height: 28px;" value="搜索">搜索</button>
				</form> 
				</div>
				<div class="charge_table">
					<table>
					 <tbody>
						<tr>
							<th width="15%">消费对象</th>
							<th width="15%">货币类型</th>
							<th width="20%">消费内容</th>
							<th width="10%">消费数量</th>
							<th width="15%">总价值 </th>
							<th width="25%">消费时间</th>

						</tr>
						<foreach name="lists" item="vo">
							<tr>
								<td width="15%">{$vo['touserinfo']}</td>
								<td width="15%">{$vo['spend_type']}</td>
								<td width="20%">{$vo['giftinfo']}</td>
								<td width="10%">{$vo['giftcount']}</td>
								<td width="15%">{$vo['totalcoin']}</td>
								<td width="25%">{$vo['addtime']|date="Y-m-d H:i:s",###}</td>
							</tr>						
						</foreach>
						</tbody>						
					</table>   	   					
				</div>
      </div>
      <div class="css-paginate">
        {$page}
      </div>
		</div>
  </div>
</div>
<tc_include file="Public:footer" />
<script type="text/javascript">
//全局变量
var GV = {
    DIMAUB: "__ROOT__/",
    JS_ROOT: "public/js/",
    TOKEN: ""
};
$(function()
{
	  /* 时间控件 */
     $("input.js-date").datePicker();
}
)
</script>
<script src="__PUBLIC__/js/jquery.js"></script>
<script src="__PUBLIC__/js/wind.js"></script>	
<script type="text/javascript" src="__PUBLIC__/js/datePicker/datePicker.js"></script>
<script type="text/javascript" src="__PUBLIC__/home/js/Personal.js"></script>  
</body>
</html>