<template>

	<div class="swipers" ref="swipers">
		<swiper :options="swiperOption" ref="swiper">
			<swiper-slide v-for="(item,idx) in gift" :key="idx">
				<div class="gifcenter" :class="[{ 'act': idx == isAct},{'show':idx == isShow}]" v-on:mouseenter="gifhover(item,idx,$event)"  v-on:mouseleave="gifleave" v-on:click="gifclick(item,idx)"><img :src="item.gifticon" :alt="item.giftname"></div>

			</swiper-slide>
		</swiper>
		<div class="swiper-button-prev" slot="button-prev"></div>
		<div class="swiper-button-next" slot="button-next"></div>

		<div class="gifmoreshow" ref="gifmoreshow" v-show="showGifmoreshow">
			<img class="ticon" :src="selectedHoverGift.gifticon" :alt="selectedHoverGift.giftname">
			<div class="coin"><span class="coinRmg">{{selectedHoverGift.needcoin}}</span></div>
			<div class="name">{{selectedHoverGift.giftname}}</div>
		</div>

		<div class="gifgroup" v-on:mouseleave="sendGrouHide">
			<input type="text" value="1" maxlength="4" ref="giftValue" class="sed_mun" :class="{'act':act}" v-on:input="sendGroupIpt" v-on:click="sendGroupShow">

			<ul class="giftGroup" v-show="show">
				<li v-for="(item,index) in giftGroupLists" :key="index" :data-value="item.group_val" v-on:click="sendGroupval($event)">{{item.group_val}}{{item.group_name}}</li>
			</ul>
		</div>
		<div class="chongzhi">
			<!-- <span class="cion">{{this.user.coin}}</span> -->
			<!-- <a href="deposit.htm" target="_blank">充值</a> -->
		</div>

		<div class="sed_zengS" v-on:click="sed_zengS">赠送</div>
	</div>
</template>


<script>
import { mapState, mapActions } from "vuex";
import Event from "src/utils/Event";
import { checkSendGift } from "../utils/getData";
import tip from "src/mixins/tip";

import "swiper/dist/css/swiper.css";
import { swiper, swiperSlide } from "vue-awesome-swiper";

export default {
  data() {
    return {
      swiperOption: {
        notNextTick: true,
        autoplay: false,
        observer: true,
        observeParents: true,
        slidesPerView: 7,
        slidesPerGroup: 7,
        allowTouchMove: false,
        navigation: {
          prevEl: ".swiper-button-prev",
          nextEl: ".swiper-button-next"
        },
        breakpoints: {
          550: {
            slidesPerView: 6,
            slidesPerGroup: 6
          },

          450: {
            slidesPerView: 5,
            slidesPerGroup: 5
          },

          350: {
            slidesPerView: 4,
            slidesPerGroup: 4
          }
        }
      },
      selectedHoverGift: {},
      isAct: null,
      isShow: null,
      show: false,
      act: false,
      gifVlueflag: true,
      gifObjValue: {},
      giftGroupLists: _DATA.giftGroupLists,
      showGifmoreshow: false
    };
  },

  mounted() {},

  components: {
    swiper,
    swiperSlide
  },

  mixins: [tip],

  computed: {
    swiper() {
      return this.$refs.swiper.swiper;
    },
    ...mapState(["live"]),
    ...mapState(["gift"]),
    ...mapState(["user"]),
    ...mapState(["room"])
  },

  methods: {
    gifhover(gift, idx, e) {
      let evt = window.event || e;
      this.selectedHoverGift = gift;
      this.isAct = idx;
      this.showGifmoreshow = true;

      if (
        evt.x + this.$refs.gifmoreshow.offsetWidth <=
        this.$refs.swiper.$el.offsetWidth
      ) {
        this.$refs.gifmoreshow.style.left =
          evt.target.getBoundingClientRect().x -
          this.$refs.swipers.getBoundingClientRect().x +
          "px";
        this.$refs.gifmoreshow.style.right = "auto";
      } else {
        this.$refs.gifmoreshow.style.right =
          Math.abs(
            evt.target.getBoundingClientRect().x -
              this.$refs.swipers.getBoundingClientRect().x -
              this.$refs.swiper.$el.offsetWidth
          ) + "px";
        this.$refs.gifmoreshow.style.left = "auto";
      }
    },

    gifleave() {
      this.isAct = null;
      this.showGifmoreshow = false;
    },

    gifclick(item, idx) {
      this.gifObjValue = item;
      this.isShow = idx;
    },

    sendGroupIpt() {
      this.show = false;
      if (!Number(this.$refs.giftValue.value)) {
        this.$refs.giftValue.value = 1;
      }
    },

    sendGroupShow(index) {
      if (this.show) {
        this.show = false;
        this.act = false;
      } else {
        this.show = true;
        this.act = true;
      }
    },

    sendGrouHide() {
      this.show = false;
      this.act = false;
    },

    sendGroupval(e) {
      let evt = window.event || e;
      this.$refs.giftValue.value = evt.target.getAttribute("data-value");
      this.sendGrouHide();
    },

    async SendGift() {
      let res = await checkSendGift(
        this.room.id,
        this.gifObjValue.id,
        this.live.showid,
        this.$refs.giftValue.value,
        0
      );

      if (res.errno != 0) {
        switch (res.errno) {
          case "1003":
            // if( confirm(res.msg) ){
            let ress = await checkSendGift(
              this.room.id,
              this.gifObjValue.id,
              this.live.showid,
              this.$refs.giftValue.value,
              1
            );

            if (ress.iswin == 1) {
              this.warn("恭喜中得" + ress.winLiveCoin + "直播券");
            } else {
              let msg = {
                msg: [
                  {
                    _method_: "SendGift",
                    evensend: ress.evensend,
                    action: "0",
                    ct: ress.gifttoken,
                    msgtype: "1",
                    level: ress.level,
                    giftGroupNum: ress.giftGroupNum,
                    uid: ress.uid,
                    // "timestamp":'WlTools.FormatNowDate()',
                    uname: this.user.user_nicename,
                    uhead: this.user.avatar,
                    html:
                      '<div class="gifshow"><span class="gif-use"><img src="' +
                      this.user.avatar +
                      '"></span><span class="gif-name">' +
                      this.user.user_nicename +
                      '</span><span class="gif-numname">' +
                      ress.giftname +
                      "x" +
                      ress.giftGroupNum +
                      '</span><span class="gif-img"><img src="' +
                      ress.gifticon +
                      '"></span><span class="gif-num">' +
                      "x" +
                      ress.giftGroupNum +
                      "</span></div>"
                  }
                ],
                retcode: "000000",
                retmsg: "OK"
              };

              this.$bus.emit(Event.EMIT_EVENT, msg);
              this.warn(this.user.user_nicename + " " + ress.charge_msg);
            }
            // }else{
            // 	//放弃送礼物
            // 	return;
            // }

            break;

          default:
            this.showTip(res.msg);
        }
      } else {
        if (res.iswin == 1) {
          this.showTip("恭喜中得" + res.winLiveCoin + "直播券");
        } else {
          let msg = {
            msg: [
              {
                _method_: "SendGift",
                evensend: res.evensend,
                action: "0",
                ct: res.gifttoken,
                msgtype: "1",
                level: res.level,
                giftGroupNum: res.giftGroupNum,
                uid: res.uid,
                // "timestamp":'WlTools.FormatNowDate()',
                uname: this.user.user_nicename,
                uhead: this.user.avatar,
                html:
                  '<div class="gifshow"><span class="gif-use"><img src="' +
                  this.user.avatar +
                  '"></span><span class="gif-name">' +
                  this.user.user_nicename +
                  '</span><span class="gif-numname">' +
                  res.giftname +
                  "x" +
                  res.giftGroupNum +
                  '</span><span class="gif-img"><img src="' +
                  res.gifticon +
                  '"></span><span class="gif-num">' +
                  "x" +
                  res.giftGroupNum +
                  "</span></div>"
              }
            ],

            retcode: "000000",
            retmsg: "OK"
          };

          this.$bus.emit(Event.EMIT_EVENT, msg);
          this.warn(this.user.user_nicename + " " + res.charge_msg);
        }
      }
    },

    sed_zengS() {
      if (!this.gifObjValue.id) {
        this.showTip("请选中要送的礼物");
        return false;
      }
      if (this.gifObjValue.id && !this.gifVlueflag) {
        this.showTip("请先等待礼物送出");
        return false;
      }
      if (this.gifObjValue.id && this.gifVlueflag) {
        this.gifVlueflag = false;
        this.SendGift().then(() => {
          // this.isShow=null;
          // this.gifObjValue={};
          this.gifVlueflag = true;
          // this.$refs.giftValue.value='1';
        });
      }
    }
  }
};
</script>

<style lang="scss">
.swipers {
  width: 100%;
  height: 110px;
  position: relative;
  margin-bottom: 10px;
  padding-top: 10px;
  background-color: rgba(0, 0, 0, 0.15);

  .swiper-container {
    margin: 0px 25px;
    height: 50px;
    .swiper-wrapper {
      margin: 0px auto;

      .swiper-slide {
        text-align: center;
      }

      .gifcenter {
        display: inline-block;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.15);
        width: 46px;
        height: 46px;
        padding: 4px;
        border-radius: 4px;
        overflow: hidden;
        border: 1px solid transparent;
        cursor: pointer;

        &.act {
          border: 1px solid #aaa;
        }

        &.show {
          border-color: #ff3366;
        }

        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    top: 10px;
    margin: 0px;
    width: 20px;
    height: 46px;
    border-radius: 4px;
    background-size: 9px;
    background-color: rgba(0, 0, 0, 0.15);
    filter: grayscale(100%) brightness(200%);
    -webkit-filter: grayscale(100%) brightness(200%);
  }

  .swiper-button-prev {
    left: 0px;
  }
  .swiper-button-next {
    right: 0px;
  }

  .gifmoreshow {
    position: absolute;
    /*opacity: 0;*/
    width: 110px;
    height: 45px;
    color: #fff;
    top: -45px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;

    .ticon,
    .coin,
    .name {
      position: absolute;
      overflow: hidden;
    }
    .ticon {
      top: 3px;
      left: 3px;
      width: 35px;
      height: 35px;

      img {
        width: 100%;
        height: 100%;
      }
    }
    .coin,
    .name {
      right: 3px;
      width: 65px;
      height: 16px;
      overflow: hidden;
    }
    .coin {
      top: 3px;
      color: #ffcc01;
      background: url("../images/coin.png") no-repeat 40px center;

      .coinRmg {
        width: 40px;
        height: 16px;
        overflow: hidden;
        position: absolute;
        text-overflow: ellipsis;
        left: 0px;
      }
    }
    .name {
      top: 25px;
    }
  }

  .sed_zengS,
  .sed_mun {
    position: absolute;
    bottom: 10px;
    height: 30px;
    line-height: 28px;
    border-radius: 4px;
    color: #fff;
    text-align: center;
  }

  .sed_zengS {
    right: 6px;
    width: 60px;
    background-color: #ff3366;
    cursor: pointer;
    &:hover {
      background-color: #ca2b53;
    }
  }

  .chongzhi {
    position: absolute;
    left: 0px;
    bottom: 14px;
    height: 22px;
    width: 100px;
    overflow: hidden;
    color: #fff;

    .cion {
      position: absolute;
      left: 0px;
      top: 0px;
      height: 22px;
      width: 70px;
      padding-left: 25px;
      padding-top: 2px;
      text-overflow: ellipsis;
      background: url("../images/coin.png") no-repeat left center;
    }

    a {
      position: absolute;
      right: 60px;
      top: 0px;
      width: 30px;
      height: 20px;
      color: #ffcc00;
      line-height: 20px;
    }
  }

  .sed_mun {
    outline: none;
    right: 75px;
    width: 100px;
    z-index: 999;
    color: #ff3366;
    background: rgba(0, 0, 0, 0.15) url("../images/jiantou.png") no-repeat 83px
      center;

    &.act {
      background-image: url("../images/jiantou-down.png");
    }
  }

  .giftGroup {
    position: absolute;
    bottom: 40px;
    right: 75px;
    background-color: rgba(68, 59, 59, 1);
    width: 100px;
    color: #fff;
    z-index: 998;

    li {
      border-bottom: 1px solid #4c4c4c;
      line-height: 30px;
      padding: 0px 5px 0px 14px;
      cursor: pointer;
    }

    li:last-child {
      border-bottom: none;
    }

    li:hover {
      background: #333;
      color: #ff3366;
    }
  }
}
</style>
