<template>
  <header class="userinfo d-flex align-items-center">
    <div class="hide-live-room" @click="hideLiveRoom"></div>
    <div class="user-area">
      <div class="useravatar">
        <img :src="user.avatar"/>
      </div>
      <input class="username" ref="userNicename" type="text" maxlength="8" :class="{'setname-input':bordercolor}" @keyup.enter="resetName" @blur="resetNameBlur" v-model="inputValue" :disabled="!user || user.logged != 1" />
    </div>
    <!--<div v-if="user && user.logged == 1">-->
      <!--<div v-if="disabledInput" class="useredit useredit-unactive" @click="editName"></div>-->
      <!--<div v-else class="useredit useredit-active" @click="resetName"></div>-->
    <!--</div>-->
  </header>
</template>
<script>
import { mapState, mapActions, mapMutations } from "vuex";
import { isEmpty, isNickname } from "src/utils/validation";
import tip from "src/mixins/tip";
import { editUserNiceName } from "../utils/getData";
import Event from "src/utils/Event";

export default {
  data() {
    return {
      inputValue: "",
      bordercolor: false, //输入框边框颜色
      disabledInput: true
    };
  },

  mounted() {
    // this.inputValue = this.user.user_login;
    this.inputValue = this.user.user_nicename;
  },
  mixins: [tip],
  computed: {
    ...mapState(["user"])
  },
  methods: {
    ...mapMutations(["RETSET_NAME"]),
    isValid() {
      if (isEmpty(this.inputValue)) {
        this.warn("请输入昵称");
        return false;
      }
      if (!isNickname(this.inputValue)) {
        this.warn('昵称可输入中文、字母、数字、空格、“-”、"_"');
        return false;
      }
      return true;
    },
    inputThing() {
      if (isEmpty(this.inputValue) || !isNickname(this.inputValue)) {
        this.bordercolor = true;
      } else {
        this.bordercolor = false;
      }
    },
    async resetName() {
      if (this.inputValue == this.user.user_nicename) return;
      if (this.isValid()) {
        try {
          let res = await editUserNiceName(this.inputValue);
          if (res.state == 0) {
            this.RETSET_NAME(this.inputValue);
            this.disabledInput = true;
            this.warn("昵称修改成功");
          } else {
            this.warn("昵称修改失败");
            this.inputValue = this.user.user_nicename;
          }
        } catch (e) {
          this.warn("昵称修改失败");
          this.inputValue = this.user.user_nicename;
        }
      }
    },
    isValidBlur() {
      if (isEmpty(this.inputValue)) {
        this.inputValue = this.user.user_nicename;
        return false;
      }
      if (!isNickname(this.inputValue)) {
        this.warn('昵称可输入中文、字母、数字、空格、“-”、"_"');
        this.inputValue = this.user.user_nicename;
        return false;
      }
      return true;
    },
    async resetNameBlur() {
      if (this.inputValue == this.user.user_nicename) return;
      if (this.isValidBlur()) {
        try {
          let res = await editUserNiceName(this.inputValue);
          if (res.state == 0) {
            this.RETSET_NAME(this.inputValue);
            this.disabledInput = true;
            this.warn("昵称修改成功");
          } else {
            this.warn("昵称修改失败");
            this.inputValue = this.user.user_nicename;
          }
        } catch (e) {
          this.warn("昵称修改失败");
          this.inputValue = this.user.user_nicename;
        }
      }
    },
    editName() {
      this.disabledInput = false;
      setTimeout(() => {
        this.$refs.userNicename.focus();
      }, 100);
    },
    hideLiveRoom() {
      this.$bus.emit(Event.VIDEO_EVENT, { _method_: "pauseLiveVideo" });
      hideSliderLive();
    }
  }
};
</script>
<style lang="scss" scoped>
.userinfo {
  width: 100%;
  height: 64px;
  line-height: 64px;

  .hide-live-room {
    margin-left: 8px;
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("../images/hide_live_room.png") no-repeat 0 0;
    cursor: pointer;
  }

  .useredit {
    width: 12px;
    height: 14px;
    margin-left: 5px;
  }

  .useredit-unactive {
    background: url("../images/edit.png");
  }
  .useredit-active {
    background: url("../images/edit_active.png");
  }

  .user-area {
    height: 26px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 26px;
    margin-left: 10px;
  }

  .useravatar {
    width: 26px;
    height: 26px;
    border-radius: 26px;
    overflow: hidden;
    display: inline-block;
    float: left;

    img {
      width: 100%;
      height: 100%;
      border-radius: 26px;
      float: left;
    }
  }

  .username {
    float: left;
    color: #ffffff;
    background: none;
    padding: 0px 0 0px 5px;
    height: 26px;
    width: 125px;

    &.setname-input {
      border: 1px solid #ea3106;
    }
  }
}
</style>
