@charset "utf-8";

/* CSS Document | */
html, body {background: #000; width: 100%; height: 100%;}
.gamehall {width: 100%; height: 100%; text-align: center;}
.gamehall img.live-img {width: 90%; height: 100%; max-height: 100%;}

.gamehall .sidebar {}
.gamehall .hall-nav {position: fixed; right: 0; top: 0; width: 44px; background: #484746; height: 100%; z-index: 100;}
.gamehall .hall-nav a {color: #c1c1c1; font-size: 16px; text-align: center; display: table; width: 100%; height: 100%;}
.gamehall .hall-nav span {vertical-align: middle; line-height: 32px; display: table-cell;}
.gamehall .hall-nav .arrow { width: 12px; height: 9px; display: block; margin: 20px auto 0;}

.gamehall .nav-open {width: 0; background: #484746; position: fixed; top: 0; right: 0; z-index: 100; height: 100%;}
.nav-open .t {font-size: 16px; color: #cca353; height: 50px; background: #323232; text-align: center; line-height: 50px;}
.nav-open .side {display: block; width: 90px; height: 74px; text-align: center; padding-top: 20px; font-size: 16px; color: #c1c1c1; position: relative;}
.nav-open .icon-side {background: url("../__static/__images/gamehall/icon3.png") no-repeat; display: block; margin: 0 auto 10px; width: 32px; position: relative;}
.nav-open .icon1 {width: 32px; height: 30px; background-position: 0 0;}
.nav-open .icon2 {background-position: -32px 0; height: 31px;}
.nav-open .icon3 {background-position: -64px 0; height: 32px;}
.nav-open .icon4 {background-position: -97px 0; height: 32px;}
.nav-open .icon5 {background-position: -130px 0; height: 33px; width: 29px;}
.nav-open .icon6 {background-position: -160px 0; height: 24px;}
.nav-open .icon7 {background-position: -193px 0; height: 24px;}

.nav-open .line {width: 74px; height: 1px; background: #323232; display: block; position: absolute; bottom: 0; left: 8px;}
.nav-open .sideh {position: absolute; width: 455px; height: 150px; background: #1f1f1f; padding-top: 10px; left: -455px; top: 0; display: none;}
.nav-open .promo-cycle {width: 435px; height: 140px; overflow: hidden; margin: 0 auto;}
.nav-open .promo, .nav-open .promo a {width: 100%; height: 100%; display: block;}
.nav-open .promo1 {background: url("../__static/__images/gamehall/01.jpg") no-repeat;}
.nav-open .promo2 {background: url("../__static/__images/gamehall/02.jpg") no-repeat;}
.nav-open .promo3 {background: url("../__static/__images/gamehall/03.jpg") no-repeat;}
.nav-open .promo-pager {position: absolute; bottom: 0; right: 24px; z-index: 100;}
.nav-open .promo-pager span {cursor: pointer; font-size: 40px; color: #fff; margin: 0 2px;}
.nav-open .promo-pager span:hover, .nav-open .promo-pager span.cycle-pager-active {color: #cd2846;}
.nav-open .side-info {padding: 10px 22px 0;}
.nav-open .side-info .title {margin-bottom: 12px; border-bottom: 0; padding: 0;}
.nav-open .side-info h4 {font-size: 18px; float: left; color: #fff; margin: 0;}
.nav-open .side-info .title span {font-size: 16px; color: #666; float: right; line-height: 18px;}
.nav-open .side-info p {font-size: 16px; color: #c1c1c1; line-height: 24px; text-align: left; margin: 0;}
.nav-open .side-links {float: right;}
.nav-open .side-links a {display: inline-block; margin-left: 25px; font-size: 16px; color: #666;}
.nav-open .side-links a:hover, .nav-open .side-links a.active {color: #cca353;}

.nav-open .side:hover, .nav-open .side.active{background: #222; color: #cca353;}
.nav-open .side:hover .icon1, .nav-open .side.active .icon1 {background-position: 0 -30px;}
.nav-open .side:hover .icon2, .nav-open .side.active .icon2 {background-position: -32px -31px;}
.nav-open .side:hover .icon3, .nav-open .side.active .icon3 {background-position: -64px -32px;}
.nav-open .side:hover .icon4, .nav-open .side.active .icon4 {background-position: -97px -33px;}
.nav-open .side:hover .icon5, .nav-open .side.active .icon5 {background-position: -130px -33px;}
.nav-open .side:hover .icon6, .nav-open .side.active .icon6 {background-position: -160px -25px;}
.nav-open .side:hover .icon7, .nav-open .side.active .icon7 {background-position: -193px -25px;}
.nav-open .side:hover .sideh, .nav-open .side.active .sideh {display: block;}

.nav-open .close {font-size: 16px; color: #c1c1c1; margin-top: 20px; display: block; text-align: center; width: 90px;}
.nav-open .close .arrow-right { width: 11px; height: 9px; display: inline-block;}

.nav-open .dot {background: url("../__static/__images/gamehall/dot.png") no-repeat; width: 12px; height: 12px; display: block; position: absolute; top: -4px; right: -6px;}

@media screen and (max-width: 1599px) {
	.nav-open .close {margin-top: 10px;}
	.nav-open .side {height: 68px; padding-top: 12px;}
	.nav-open .icon-side {margin-bottom: 5px;}
}


@media screen and (max-width: 1199px) {
	.gamehall {overflow: auto; min-height: 700px;}
	.gamehall .nav-open {min-height: 700px; position: absolute;}
}
